<!-- CTA to Blog -->
<section id="work" class="work">
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h2 class="section-heading">Check out the blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center mt-5">
                <img src="/assets/img/shared/icon-blog.svg" alt="A lengthy blog post and a pencil for decoration" class="icon icon-blog" />
                <h3 class="section-subheading text-muted mb-5">
                    Take a deeper look into our process by
                    <span class="line-breaker">
                        reading some blog posts we have written
                    </span>
                </h3>
                <a href="/blog" class="btn btn-primary">See more on our blog</a>
            </div>
            <div class="col-md">
                {% include shared/blog_feed_widget.html %}
            </div>
        </div>
    </div>
</section>
