<!-- CTA to About and Careers -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">The team</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-md-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">At Rapid River, the team is the heart of the operation. From day one, we've believed that people must have the freedom to define their work environment.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <img src="/assets/img/shared/icon-office-plant.svg" alt="An awesome applicant who is smiling" class="icon icon-laptop" />
                <h4 class="service-heading">About us</h4>
                <h3 class="section-subheading text-muted mb-5">
                    Learn more about who we are and what
                    <span class="line-breaker">
                        we're all about.
                    </span>
                </h3>
                <a href="/about" class="btn btn-primary">Get to know us</a>
            </div>
            <div class="col-md text-center mt-5 mt-md-0">
                <img src="/assets/img/shared/icon-employee.svg" alt="An awesome applicant who is smiling" class="icon icon-laptop" />
                <h4 class="service-heading">Careers</h4>
                <h3 class="section-subheading text-muted mb-5">
                    Check out our open positions, something
                    <span class="line-breaker">
                        might just catch your eye.
                    </span>
                </h3>
                <a href="/careers" class="btn btn-primary">See careers</a>
            </div>
        </div>
    </div>
</section>
