<!-- CTA to Blog -->
<section id="work" class="work">
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h2 class="section-heading">Check out the blog</h2>
                <h3 class="section-subheading text-muted mb-5">
                    Take a deeper look into our process by reading some blog posts we have written
                </h3>
                <a href="/case-studies/#projects" class="btn btn-xl">See our work</a>
            </div>
            <div class="col-md">
                <div class="widget__blog-feed">
                    <img src="/assets/img/case-studies/thumbnail/ruby.png">
                </div>
            </div>

        </div>
    </div>
</section>
