<!-- CTA to About and Careers -->
<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">The team</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">At Rapid River, the team is the heart of the operation. From day one, we believed that people have lives, damn it.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <h4 class="service-heading">About us</h4>
                <h3 class="section-subheading text-muted mb-5">
                    Learn more about who we are and what we're all about.
                </h3>
                <a href="/about" class="btn btn-primary">Get to know us</a>
            </div>
            <div class="col-md text-center">
                <h4 class="service-heading">Careers</h4>
                <h3 class="section-subheading text-muted mb-5">
                    Check out our open positions, something might just catch your eye.
                </h3>
                <a href="/careers" class="btn btn-primary">See careers</a>
            </div>
        </div>
    </div>
</section>
