<!-- Header -->
<header class="page-header -other">
    <div class="container">
        <div class="headerflex">
            <div class="intro">
                <div class="heading">
                    Building <span class="bold">cost-effective</span> web solutions and <span class="bold">solving</span> hard problems well.
                </div>
                <div class="tagline">Rapid River Software provides smart, cost-effective engineers who are
                    driven by a passion for getting things done.</div>
                <a href="/hire-us/#project-details" class="button -white">Get in touch</a>
            </div>
            <div class="image">
                {% include homepage/svg/headercanoe.html %}
            </div>
        </div>
    </div>
</header>
