<div class="homepage-sections">
    <div class="section-list">
        <div class="item -services">
            <div class="text">
                <h3 class="title">Services and Capabilities</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat rhoncus in accumsan eget at. In quis amet posuere nunc, suspendisse nulla neque, faucibus sed. Amet sit bibendum euismod cursus platea. Diam nullam luctus.
                </p>
                <a class="link -pink" href="/services">Learn more about what we offer</a>
            </div>
            <div class="animation">
                <div class="inner">
                    {% include homepage/svg/services.html %}
                </div>
            </div>
        </div>

        <div class="item -casestudies">
            <div class="text">
                <h3 class="title">Proven Results</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat rhoncus in accumsan eget at. In quis amet posuere nunc, suspendisse nulla neque, faucibus sed. Amet sit bibendum euismod cursus platea. Diam nullam luctus.
                </p>
                <a class="link -pink" href="/case-studies">See our work</a>
            </div>
            <div class="animation">
                <div class="inner">
                    {% include homepage/svg/casestudies.html %}
                </div>
            </div>
        </div>

        <div class="item -team">
            <div class="text">
                <h3 class="title">Our Team and How We Work</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat rhoncus in accumsan eget at. In quis amet posuere nunc, suspendisse nulla neque, faucibus sed. Amet sit bibendum euismod cursus platea. Diam nullam luctus.
                </p>
                <a class="link -pink" href="/about">Understand our process</a>
                <br/>
                <a class="link -pink" href="/careers">View open positions</a>
            </div>
            <div class="animation">
                <div class="inner">
                    {% include homepage/svg/team.html %}
                </div>
            </div>
        </div>

        <div class="item -blog">
            <div class="text">
                <h3 class="title">From the Blog</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat rhoncus in accumsan eget at. In quis amet posuere nunc, suspendisse nulla neque, faucibus sed. Amet sit bibendum euismod cursus platea. Diam nullam luctus.
                </p>
                <a class="link -pink" href="/blog">Read our writing</a>
            </div>
            <div class="animation">
                <div class="inner">
                    <div class="featuredposts-widget">
                        here
                    </div>
                    {% include homepage/svg/blog.html %}
                </div>
            </div>
        </div>
    </div>
</div>
