<div class="homepage-sections">
    <div class="section-list">
        <div class="item -services -section">
            <div class="text">
                <h3 class="title">Services and Capabilities</h3>
                <p class="description">
                    Our capabilities include Frontend and Backend Web Development, DevOps, Data Engineering and Project Coordination. We provide Greenfield Product Development, Project Rescue and Custom Software Development solutions.
                </p>
                <a class="link -pink" href="/services">Learn more about what we offer</a>
            </div>
            <div class="animation">
                <div class="inner">
                    {% include homepage/svg/services.html %}
                </div>
            </div>
        </div>

        <div class="item -casestudies -section">
            <div class="text">
                <h3 class="title">Proven Results</h3>
                <p class="description">
                    We’ve helped many clients achieve their goals. From liberating web stats systems, to building open APIs, upgrading legacy Rails apps, rapidly building apps on pluggable dashboard platforms, we’ve certainly seen some action.
                </p>
                <a class="link -pink" href="/case-studies">See our work</a>
            </div>
            <div class="animation">
                <div class="inner">
                    {% include homepage/svg/casestudies.html %}
                </div>
            </div>
        </div>

        <div class="item -team -section">
            <div class="text">
                <h3 class="title">Our Team and How We Work</h3>
                <p class="description">
                    We are a bunch of people who love being productive whilst living life on our terms. We follow Agile principles and good remote-first practices to get the job done from wherever we are based.
                </p>
                <a class="link -pink" href="/about">Understand our process</a>
                <br/>
                <a class="link -pink" href="/careers">View open positions</a>
            </div>
            <div class="animation">
                <div class="inner">
                    {% include homepage/svg/team.html %}
                </div>
            </div>
        </div>

        <div class="item -blog -section">
            <div class="text">
                <h3 class="title">From the Blog</h3>
                <p class="description">
                    Every now and then we carve out enough time to write about our experiences. To gain a more in-depth look into what makes us tick, why not check out a post or two on our blog.
                </p>
                <a class="link -pink" href="/blog">Read our writing</a>
            </div>
            <div class="animation">
                <div class="inner">
                    <div class="featuredposts-widget">
                        {% include homepage/featuredposts.html %}
                    </div>
                    {% include homepage/svg/blog.html %}
                </div>
            </div>
        </div>
    </div>
</div>
