<!-- Hire Us: Existing Projects -->
<section id="existing-projects" class="hire-us--section-existing-projects bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">For Existing Projects</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">When we work with your existing development team:</h3>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <h4 class="service-heading">Learn about your project</h4>
                <p class="text-muted">We will use the tools that you and your team are using already. We’ll fit into your workflow.</p>
            </div>
            <div class="col">
                <h4 class="service-heading">Propose and implement workflow improvements</h4>
                <p class="text-muted">Once we have grokked your system, we typically start suggesting changes that we believe will benefit all parties. If you find our suggestions agreeable, we’ll work them into the backlog.</p>
            </div>
            <div class="col">
                <h4 class="service-heading">Get your project back on track</h4>
                <p class="text-muted">If your code is difficult to work with, we may find on-boarding more challenging. But we can handle it. We have successfully contributed to, and have even taken full ownership of, applications of this nature.</p>
            </div>
        </div>
    </div>
</section>
