<!-- Hire Us: Existing Projects -->
<section class="existingprojects -section">
    <div class="container">
        <h2 class="heading">For Existing Projects</h2>
        <h3 class="description">
            When we work with your existing development team:
        </h3>
        <div class="valueslist">
            <div class="item">
                <h4 class="valueheading">Gain Understanding</h4>
                <p class="valuedesc">
                    We will make every effort to fully understand your project and where you're coming from. We will use the tools that you and your team are using already. We’ll fit into your workflow.
                </p>
            </div>
            <div class="item">
                <h4 class="valueheading">Propose Improvements</h4>
                <p class="valuedesc">
                    Once we have grokked your system, and fully understood your business needs, we will propose improvements and changes that we believe will benefit all parties.
                </p>
            </div>
            <div class="item">
                <h4 class="valueheading">Project Rescue</h4>
                <p class="valuedesc">
                    On-boarding may be more challenging if your code is difficult to work with. But we can handle it. We have been able to successfully work with applications of this nature before.
                </p>
            </div>
        </div>
    </div> 
</section>
