<!-- Hire Us: Existing Projects -->
<section id="existing-projects" class="content-row hire-us--section-existing-projects bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">For Existing Projects</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">When we work with your existing development team:</h3>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <h4 class="service-heading">Gain Understanding</h4>
                <p class="text-muted">We will make every effort to fully understand your project and where you're coming from. We will use the tools that you and your team are using already. We’ll fit into your workflow.</p>
            </div>
            <div class="col">
                <h4 class="service-heading">Propose Improvements</h4>
                <p class="text-muted">Once we have grokked your system, and fully understood your business needs, we will propose improvements and changes that we believe will benefit all parties.</p>
            </div>
            <div class="col">
                <h4 class="service-heading">Project Rescue</h4>
                <p class="text-muted">On-boarding may be more challenging if your code is difficult to work with. But we can handle it. We have been able to successfully work with applications of this nature before.</p>
            </div>
        </div>
    </div>
</section>
