<!-- Hire Us: Form -->
<section id="project-details" class="content-row hire-us-form hire-us-item">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Your project details</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">
                    If you've decided to work with us, let us know with the form below. We can set up a meeting to start our collaboration.
                </h3>
            </div>
        </div>
        <div class="row hire-us-form-wrapper ">
            <div class="col">
                <form name="projectDetails" id="hireUsForm" action="https://formspree.io/hire-us@rrsoft.co"
                    method="POST">
                    <div class="row justify-content-sm-center">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="project_name">What is your company or project name? *</label>
                                <input type="text" class="form-control" id="project_name" name="project_name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label for="client_name">What is your name? *</label>
                                <input type="text" class="form-control" id="client_name" name="client_name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label for="client_email">What is your email address? *</label>
                                <input type="email" class="form-control" id="client_email" name="client_email" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label for="client_phone">What is your phone number? (Optional)</label>
                                <input type="tel" class="form-control" id="client_phone" name="client_phone">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label for="project_brief">What can Rapid River do for you? *</label>
                                <textarea type="text" class="form-control" id="project_brief" name="project_brief"
                                    required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label for="referral_point">How did you hear about Rapid River? *</label>
                                <input type="text" class="form-control" id="referral_point" name="referral_point"
                                    required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group text-center mt-5">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
