<!-- Hire Us: Form -->
<section id="project-details" class="projectdetails -section">
    <div class="container">
        <h2 class="heading">Your project details</h2>
        <h3 class="description">
            If you've decided to work with us, let us know with the form below. We can set up a meeting to start our collaboration.
        </h3>

        <form
            class="hireusform"
            name="projectDetails"
            id="hireUsForm"
            method="POST"
            data-netlify="true"
        >
            <div class="formrow">
                <label for="project_name">What is your company or project name? *</label>
                <input type="text" class="input" id="project_name" name="project_name" required>
                <p class="help-block warn"></p>
            </div>
            <div class="formrow">
                <label for="client_name">What is your name? *</label>
                <input type="text" class="input" id="client_name" name="client_name" required>
                <p class="help-block warn"></p>
            </div>
            <div class="formrow">
                <label for="client_email">What is your email address? *</label>
                <input type="email" class="input" id="client_email" name="client_email" required>
                <p class="help-block warn"></p>
            </div>
            <div class="formrow">
                <label for="client_phone">What is your phone number? (Optional)</label>
                <input type="tel" class="input" id="client_phone" name="client_phone">
                <p class="help-block warn"></p>
            </div>
            <div class="formrow">
                <label for="project_brief">What can Rapid River do for you? *</label>
                <textarea type="text" class="input" id="project_brief" name="project_brief"
                    required></textarea>
                <p class="help-block warn"></p>
            </div>
            <div class="formrow">
                <label for="referral_point">How did you hear about Rapid River? *</label>
                <input type="text" class="input" id="referral_point" name="referral_point"
                    required>
                <p class="help-block warn"></p>
            </div>
            <div class="formrow">
                <div id="success"></div>
                <button type="submit" class="button -blue">Send Message</button>
            </div>
        </form>
    </div>
</section>
