<!-- Hire Us: Header -->
<header class="page-header -other">
    <div class="container d-flex">
        <div class="row">
            <div class="intro col-md-7 col-lg-5">
                <div class="heading">
                    Let us get things <span class="bold">done</span> for you
                </div>
                <div class="tagline">
                    We work on long-term projects and build lasting relationships with our clients. Tell us more about your product and how we can help you.
                </div>
                <a href="#project-details" class="button -white">Tell Us More</a>
            </div>
            <div class="image col-md-5 col-lg-7 d-none d-md-block">
                <img src="/assets/img/headers/hire-us.png" alt="People meeting around a table">
            </div>
        </div>
    </div>
</header>
