<!-- Hire Us: Form -->
<section id="form" class="hire-us-form hire-us-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
            <h2 class="section-heading">Your project details</h2>
            <h3 class="section-subheading text-muted">
              Rapid River Software is a worldwide group of full-stack developers with skills ranging from front-end to operations, automation, and everything in between. We strive to provide the best solutions for our clients and create the best environment for our people.
            </h3>
      </div>
    </div>
    <div class="row hire-us-form-wrapper">
      <div class="col-lg-12">
        <form name="projectDetails" id="hireUsForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="control-group form-group">
                <input type="text" class="form-control" name="project_name" placeholder="What is your company or project name?">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="text" class="form-control" name="client_name" placeholder="What is your name?">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="text" class="form-control" name="client_email" placeholder="What is your email address?">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="text" class="form-control" name="client_phone" placeholder="What is your phone number?">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <textarea type="text" class="form-control" name="project_brief" placeholder="What can Rapid River do for you?"></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="text" class="form-control" name="referral_point" placeholder="How did you hear about Rapid River?">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
