<!-- About: Header -->
<header class="hire-us">
  <div class="container">
      <div class="intro-text">
          <div class="intro-heading">Let us get things done for you</div>
          <div class="intro-lead-in">We work on long-term projects and build lasting relationships with our clients. Tell us more about your product and how we can help you.</div>
          <a href="#hire-us" class="page-scroll btn btn-xl">Tell us more</a>
      </div>
      <div class="intro-image">
          <img src="/img/hire-us/team-working.png" alt="Vector image of people working together">
      </div>
  </div>
</header>
