<!-- Hire Us: New Projects -->
<section class="newprojects -section">
    <div class="container">
        <h2 class="heading">For new projects</h2>
        <h3 class="description">
            For projects where we staff all developer roles, we like to work as follows:
        </h3>
        <div class="valueslist">
            <div class="item">
                <h4 class="valueheading">Scrum</h4>
                <p class="valuedesc">
                    We carry out our work in two-week Sprints, making sure that our teams are configured to effectively fill the various scrum roles.
                </p>
            </div>
            <div class="item">
                <h4 class="valueheading">Product Backlog Grooming</h4>
                <p class="valuedesc">
                    We groom the product backlog regularly. We measure the team’s velocity. Keeping the project’s roadmap focused enables us to accurately forecast timelines.
                </p>
            </div>
        </div>
    </div> 
</section>
