<!-- Hire Us: New Projects -->
<section id="new-projects" class="hire-us--section-new-project bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">For new projects</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">For projects where we staff all developer roles, we like to work as follows:</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h4 class="service-heading">Scrum</h4>
                <p class="text-muted">We carry out our work in two-week Sprints, making sure that our teams are configured to effectively fill the various scrum roles.</p>
            </div>
            <div class="col">
                <h4 class="service-heading">Product Backlog Grooming</h4>
                <p class="text-muted">We groom the product backlog regularly. We measure the team’s velocity. Keeping the project’s roadmap focused enables us to accurately forecast timelines.</p>
            </div>
        </div>
    </div>
</section>
