<!-- Hire Us: Process -->
<section id="process" class="hire-us--section-process bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Our process</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">Scrum</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <img src="/assets/img/shared/icon-async-communication.svg"
                    alt="Connected computers with messages being read at different times" class="icon icon-async" />
                <h4 class="bold-subheading">Scrum</h4>
                <p class="text-muted">We carry out our work in two-week Sprints. We ensure that four key roles are
                    present on the team: Product Owner, Scrum Master, Developers and QA Engineer(s).</p>
            </div>
            <div class="col">
                <img src="/assets/img/shared/icon-async-communication.svg"
                    alt="Connected computers with messages being read at different times" class="icon icon-async" />
                <h4 class="bold-subheading">Product Backlog Grooming</h4>
                <p class="text-muted">We groom the product backlog regularly. We measure the team’s velocity. These
                    practices lead to keeping the project’s roadmap focused and forecasted timelines accurate.</p>
            </div>
            <div class="col">
                <img src="/assets/img/shared/icon-async-communication.svg"
                    alt="Connected computers with messages being read at different times" class="icon icon-async" />
                <h4 class="bold-subheading">Scrum</h4>
                <p class="text-muted">We make appropriate technology choices and write robust, maintainable code.</p>
            </div>
        </div>
    </div>
</section>
