<!-- Hire Us: Value We Bring -->
<section id="value-we-bring" class="hire-us--section-offering">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">The value we bring</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">We are value oriented and wish to become not just a deliverer
                    of tasks, but a thought partner in your company’s mission.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 px-md-5">
                <img src="/assets/img/shared/icon-async-communication.svg"
                    alt="Connected computers with messages being read at different times" class="icon icon-async" />
                <h4 class="bold-subheading">Async Communication</h4>
                <p class="text-muted">Good communication rules above all else. We strive to
                    communicate fully, accurately and clearly to allow other team members to digest information on
                    their own schedule.</p>
            </div>
            <div class="col-md-6 px-md-5">
                <img src="/assets/img/shared/icon-problem-solving.svg"
                    alt="A thinking head having a puzzle piece attached to it" class="icon icon-problem-solving" />
                <h4 class="bold-subheading">Creative Problem Solving</h4>
                <p class="text-muted">Tricky problems call for creative solutions. We keep your project's individuality in mind when coming up with the most appropriate solution requiring the least effort, in a shortest time frame.</p>
            </div>
            <div class="col-md-6 px-md-5">
                <img src="/assets/img/shared/icon-trust.svg" alt="Hands forming a continous circle of trust"
                    class="icon icon-trust" />
                <h4 class="bold-subheading">Trustworthiness and Dependability</h4>
                <p class="text-muted">We are partners in our efforts to bring your vision to life. We communicate transparently, provide solutions with your product's best intestest in mind and always take your concerns to heart.</p>
            </div>
            <div class="col-md-6 px-md-5">
                <img src="/assets/img/shared/icon-continuous-integration.svg" alt="Constantly deploying code"
                    class="icon icon-delivery" />
                <h4 class="bold-subheading">Continuous Delivery</h4>
                <p class="text-muted">We aim to be the remover of blockers in your process. Relying on sound engineering practices, we will get changes into production safely and quickly. Your product will grow and thrive with us.</p>
            </div>
        </div>
    </div>
</section>
