<!-- Hire Us: Value We Bring -->
<section class="valuewebring -section">
    <div class="container">
        <h2 class="heading">The value we bring</h2>
        <h3 class="description">
            We are value oriented and wish to become not just a deliverer
            of tasks, but a thought partner in your company’s mission.
        </h3>
        <div class="valueslist">
            <div class="item">
                <img src="/assets/img/shared/icon-async-communication.svg"
                alt="Connected computers with messages being read at different times" class="icon" />
                <h4 class="valueheading">Async Communication</h4>
                <p class="valuedesc">
                    Good communication rules above all else. We strive to
                    communicate fully, accurately and clearly to allow other team members to digest information on
                    their own schedule.
                </p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-problem-solving.svg"
                alt="A thinking head having a puzzle piece attached to it" class="icon" />
                <h4 class="valueheading">Creative Problem Solving</h4>
                <p class="valuedesc">
                    Tricky problems call for creative solutions. We keep your project's individuality in mind when coming up with the most appropriate solution requiring the least effort, in a shortest time frame.
                </p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-trust.svg" alt="Hands forming a continous circle of trust"
                class="icon" />
                <h4 class="valueheading">Trustworthiness and Dependability</h4>
                <p class="valuedesc">
                    We are partners in our efforts to bring your vision to life. We communicate transparently, provide solutions with your product's best intestest in mind and always take your concerns to heart.
                </p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-continuous-integration.svg" alt="Constantly deploying code"
                class="icon" />
                <h4 class="valueheading">Continuous Delivery</h4>
                <p class="valuedesc">
                    We aim to be the remover of blockers in your process. Relying on sound engineering practices, we will get changes into production safely and quickly. Your product will grow and thrive with us.
                </p>
            </div>
        </div>
    </div> 
</section>
