<!-- Careers: Benefits -->
<section class="benefits -section">
    <div class="container">
        <h2 class="heading">What you get</h2>
        <h3 class="description">We believe that the best work is done when you're not sweating the small stuff. These are some of the ways we help you do your best work.</h3>

        <div class="benefitslist">
            <div class="item">
                <img src="/assets/img/shared/icon-cactus.svg" alt="Spacious, quiet, office with a decent view" class="icon" />
                <h4 class="benefitheading">Remote-First Culture</h4>
                <p class="benefitdesc">Flexible working hours, near-total freedom to manage your own schedule. You can work from anywhere.</p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-chair.svg" alt="A seat in the office for those who socialise" class="icon" />
                <h4 class="benefitheading">Desk in Our Office</h4>
                <p class="benefitdesc">Whether fixed or hot, there's always a space for you if <abbr title="Working From Home">WFH</abbr> isn't always your thing.</p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-sandwich.svg" alt="A sandwich with lettuce, cheese and tomatoes" class="icon" />
                <h4 class="benefitheading">Free Lunch!</h4>
                <p class="benefitdesc">If you're coming to the office for the day, lunch is on us.</p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-mortar-board.svg" alt="Continuous learning is part of our culture" class="icon" />
                <h4 class="benefitheading">Education Budget</h4>
                <p class="benefitdesc">You get an allocated amount to spend each month on educational material.</p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-heart.svg" alt="A medical card" class="icon" />
                <h4 class="benefitheading">Medical Insurance</h4>
                <p class="benefitdesc">Upon confirmation, you receive a medical card and dental/optical allowance.</p>
            </div>
            <div class="item">
                <img src="/assets/img/shared/icon-laptop.svg" alt="A laptop to work on" class="icon" />
                <h4 class="benefitheading">Work Computer</h4>
                <p class="benefitdesc">A laptop (MacBook Pro or equivalent) will be supplied for carrying out work duties.</p>
            </div> 
        </div>
    </div>
</section>
