<!-- Careers: Recruitment process -->
<section class="recruitment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our recruitment process</h2>
                <h3 class="section-subheading text-muted">Every candidate is unique, and we like to treat them as such. But to maximize the probability of a good fit into our team, this is what our process typically looks like.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">1. Résumé Screening</h4>
                <p class="text-muted">We'll look at your résumé and other professional profiles (e.g. LinkedIn, Github) to get an inital feel for fitness with the position.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">2. Technical Test</h4>
                <p class="text-muted">We'll send you a set of questions to complete in your own time. These questions test your technical knowledge and written communication skills.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">3. First Interview</h4>
                <p class="text-muted">A single interviewer will talk with you in broad terms to get a much better understanding of what you're looking for next in your career.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">4. Pairing Exercise</h4>
                <p class="text-muted">You'll be tasked with a technical task to be done together with two of our senior developers over a two-hour period.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">5. Reference Checks</h4>
                <p class="text-muted">We'll speak to a couple of previous managers to see what it would be like working with you.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">6. Offer</h4>
                <p class="text-muted">If you reach this stage, we'd love to work with you! We'll make you an official offer to join us.</p>
            </div>
        </div>
    </div>
</section>
