<!-- Careers: Open positions -->
<section id="positions" class="positions bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open positions</h2>
                <h3 class="section-subheading text-muted">We are currently looking to fill the following positions in Malaysia.
                <br/><br/>
                These positions will be primarily remote. We only require that you be resident in Malaysia, so that you can be an employee of our Malaysian company.</h3>
            </div>
        </div>

        <div class="row text-center">
            {% for career in site.careers %}
                <div class="col-md-4">
                    <img src="/img/shared/icon-employee.svg" alt="An awesome applicant who is smiling" class="icon icon-laptop" />
                    <h4 class="service-heading">{{ career.title }}</h4>
                    <a href="{{ career.url | prepend: site.baseurl }}">{{ career.cta }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
