<!-- Careers: Learn more -->
<section class="cta-to-about bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Learn more about us</h2>
                <h3 class="section-subheading text-muted">We like to think we're a pretty nice bunch, but if you'd like to learn more, please visit our about page.</h3>

                <a href="/about" class="page-scroll btn btn-xl">Learn about us</a>
            </div>
        </div>
    </div>
</section>
