<!-- Careers: Benefits -->
<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What you get</h2>
                <h3 class="section-subheading text-muted">We believe that the best work is done when you're not sweating the small stuff. These are some of the ways we help you do your best work.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/shared/icon-cactus.svg" alt="A house plan for your home office" class="icon icon-laptop" />
                <h4 class="service-heading">Remote-first culture</h4>
                <p class="text-muted"> Flexible working hours, near-total freedom to manage your own schedule</p>
            </div>
            <div class="col-md-4">
                <img src="/img/shared/icon-chair.svg" alt="A seat in the office for those who socialise" class="icon icon-laptop" />
                <h4 class="service-heading">An optional hot desk</h4>
                <p class="text-muted">Space in our Bangsar South office for use if working from home doesn’t appeal to you</p>
            </div>
            <div class="col-md-4">
                <img src="/img/shared/icon-sandwich.svg" alt="A sandwich with lettuce, cheese and tomatoes" class="icon icon-laptop" />
                <h4 class="service-heading">Free lunch at the office</h4>
                <p class="text-muted">No need to pack a lunch for the office, we've got that covered</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/shared/icon-car.svg" alt="A new Macbook Pro" class="icon icon-laptop" />
                <h4 class="service-heading">Free parking at the office</h4>
                <p class="text-muted">If you happen to drive to the office, your parking is taken care of</p>
            </div>
            <div class="col-md-4">
                <img src="/img/shared/icon-heart.svg" alt="A medical card" class="icon icon-laptop" />
                <h4 class="service-heading">Medical insurance</h4>
                <p class="text-muted">Upon confirmation, you receive a medical card and dental/optical allowance</p>
            </div>
            <div class="col-md-4">
                <img src="/img/shared/icon-laptop.svg" alt="A laptop to work on" class="icon icon-laptop" />
                <h4 class="service-heading">A work computer</h4>
                <p class="text-muted">Laptop (MacBook Pro) will be supplied for carrying out work duties</p>
            </div>
        </div>
    </div>
</section>
