<!-- Careers: Values -->
<section class="values bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we care about</h2>
                <h3 class="section-subheading text-muted">We are proud of the team we've built and we're always keen to meet people who share our values.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Excellent communication skills</h4>
                <p class="text-muted">Seriously! We’re not just saying that. We work with a lot of remote clients and developers, so being able to speak and write clearly is absolutely critical</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Getting things done</h4>
                <p class="text-muted">We pride ourselves in solving problems and making sure we are delivering results for our clients.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Transparency and integrity</h4>
                <p class="text-muted"></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Motivation and commitment</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Continuous self improvement</h4>
                <p class="text-muted">We work in an industry that is continuously changing, so it is important that we grow our skills and knowledge.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Community contribution</h4>
                <p class="text-muted">We believe that we are only as strong as our communities, therefore we try to sponsor and work with as many developer groups as we can.</p>
            </div>
        </div>
    </div>
</section>
