<!-- Careers: Benefits -->
<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">What you get</h2>
                <h3 class="section-subheading text-muted">We believe that the best work is done when you're not sweating the small stuff. These are some of the ways we help you do your best work.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-lg-4">
                <img src="/assets/img/shared/icon-cactus.svg" alt="Spacious, quiet, office with a decent view" class="icon icon-laptop" />
                <h4 class="service-heading">Remote-First Culture</h4>
                <p class="text-muted">Flexible working hours, near-total freedom to manage your own schedule. You can work from anywhere.</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="/assets/img/shared/icon-chair.svg" alt="A seat in the office for those who socialise" class="icon icon-laptop" />
                <h4 class="service-heading">Desk in Our Office</h4>
                <p class="text-muted">Whether fixed or hot, there's always a space for you if <abbr title="Working From Home">WFH</abbr> isn't always your thing.</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="/assets/img/shared/icon-sandwich.svg" alt="A sandwich with lettuce, cheese and tomatoes" class="icon icon-laptop" />
                <h4 class="service-heading">Free Lunch!</h4>
                <p class="text-muted">If you're coming to the office for the day, lunch is on us.</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="/assets/img/shared/icon-mortar-board.svg" alt="Continuous learning is part of our culture" class="icon icon-laptop" />
                <h4 class="service-heading">Education Budget</h4>
                <p class="text-muted">You get an allocated amount to spend each month on educational material.</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="/assets/img/shared/icon-heart.svg" alt="A medical card" class="icon icon-laptop" />
                <h4 class="service-heading">Medical Insurance</h4>
                <p class="text-muted">Upon confirmation, you receive a medical card and dental/optical allowance.</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="/assets/img/shared/icon-laptop.svg" alt="A laptop to work on" class="icon icon-laptop" />
                <h4 class="service-heading">Work Computer</h4>
                <p class="text-muted">A laptop (MacBook Pro or equivalent) will be supplied for carrying out work duties.</p>
            </div>
        </div>
    </div>
</section>
