<!-- Careers: Header -->
<header class="page-header">
    <div class="container d-flex">
        <div class="row">
            <div class="intro col-md-5">
                <div class="heading">
                    Work <span class="bold">with</span> us at
                    <br/>
                    <span class="bold">Rapid River Software</span>
                </div>
                <div class="tagline">We believe that finding fulfilment in your work is what turns a job into a career. Learn more about us and see if this is the place for you.</div>
                <a href="#positions" class="button -white">View open positions</a>
            </div>
            <div class="image col-md-7 d-none d-md-block">
                <img src="/assets/img/headers/case-studies.png" alt="Vector image of person on a laptop">
            </div>
        </div>
    </div>
</header>

