<!-- Careers: Learn more -->
<section class="cta-to-about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Learn more about us</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">We like to think we're a pretty nice bunch, but if you'd like to learn more, please visit our about page.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/about" class="button -blue">Learn about us</a>
            </div>
        </div>
    </div>
</section>
