<!-- Careers: Values -->
<section class="values -section">
    <div class="container">
        <h2 class="heading">What We Care About</h2>
        <h3 class="description">We are proud of the team we've built and we're always keen to meet people who share our values.</h3>
        <div class="valueslist">
            <div class="item">
                <h4 class="valueheading">Getting Things Done</h4>
                <p class="valuedesc">We have a propensity to ship and are continually focused on delivering results for our clients.</p>
            </div>
            <div class="item">
                <h4 class="valueheading">Technical Excellence</h4>
                <p class="valuedesc">We don't provide <em>a</em> solution to a problem, we provide the most correct solution. We pride ourselves on our technical ability and judgement.</p>
            </div>
            <div class="item">
                <h4 class="valueheading">Communication</h4>
                <p class="valuedesc">We're a remote-first team who work with clients spread across the globe. Stellar communication skills are key to how we do this successfully.</p>
            </div>
            <div class="item">
                <h4 class="valueheading">Earnestness</h4>
                <p class="valuedesc">We form trusting relationships between ourselves and with others by being frank, open and honest.</p>
            </div>
            <div class="item">
                <h4 class="valueheading">Zero Drama</h4>
                <p class="valuedesc">We resolve conflicts with maturity and consideration. Being a member of our team is painless and uplifting. We support each other.</p>
            </div>
            <div class="item">
                <h4 class="valueheading">Self Improvement</h4>
                <p class="valuedesc">We work in an industry that is continuously changing, so it is important that we grow our skills and knowledge.</p>
            </div>
        </div>
    </div> 
</section>
