<div class="team-detail__popup">
	<header class="team-detail__header">
		<img src="/images/team/calum-halcrow.jpg" class="team-detail__header--thumb" alt="Nick Marden" />
		<img src="/images/x-32.png" class="dialog-closer team-detail__header--close" alt="Close button" />
		<h3>Calum Halcrow</h3>
	</header>
	<div class="team-detail__about">
		<p>Calum made his start in web development as a designer learning about the separation of content, style and behavior while putting together websites for nbcommunication in Scotland. Later he moved both professionally and physically into web application
			development for Binary.com located in Malaysia. These days he practices full-stack Rails development whilst continuing to live in Kuala Lumpur with his wife. When not coding Calum likes to read, exercise and travel.</p>
	</div>
</div>
