<div class="team-detail__popup">
	<header class="team-detail__header">
		<img src="images/team/carlos-lima.jpg" class="team-detail__header--thumb" alt="Carlos Lima" />
		<img src="images/x-32.png" class="dialog-closer team-detail__header--close" alt="Close button" />
		<h3>Carlos Lima</h3>
	</header>
	<div class="team-detail__about">
		<p>Carlos is a fast and self-taught learner who is terribly passionate about computers and programming. His first steps in programming were with an Apple ][ when he was still a kid. It was brief, but forever changed his perspective about computers. After
			that he got involved with a variety of things, ranging from IRC client scripting to eggdrop bots to websites to sysadmin automation to MMORPG client and server programming. When not writing about himself in the third person he is usually making funny
			noises while playing with his cats.</p>
	</div>
</div>
