<div class="team-detail__popup">
	<header class="team-detail__header">
		<img src="/images/team/nick-marden.jpg" class="team-detail__header--thumb" alt="Nick Marden" />
        <img src="/images/x-32.png" class="dialog-closer team-detail__header--close" alt="Close button" />
		<h3>Nick Marden</h3>
	</header>
	<div class="team-detail__about">
		<p>Nick has been building Internet-aware applications ever since he laid eyes on Linux 0.99pl13 back in 1993. An incorrigible lover of startups, he has worn just about every technical hat imaginable during his two decades in the business: lab programmer,
			DBA, web developer, sysadmin, CTO, and founder. His professional successes have included Xoom.com (IPO in 1998; later renamed NBC Internet), VerticalResponse (purchased by Deluxe in 2013), and Quote.com (purchased by Yahoo! in 1999). Nick received
			in BA in Physics from the University of Chicago and briefly pursued a Ph.D. in experimental physics at MIT before following the covered wagons west to join the dot-com boom in 1996. When he’s not programming, Nick enjoys running, the outdoors, watching
			the Boston Red Sox, and most of all spending time with his wife and his three hysterically funny teenagers.</p>
	</div>
</div>
