<div class="team-detail__popup">
	<header class="team-detail__header">
		<img src="/images/team/yury-kuliwosky.jpg" class="team-detail__header--thumb" alt="Yury Kuliwosky" />
		<img src="/images/x-32.png" class="dialog-closer team-detail__header--close" alt="Close button" />
		<h3>Yury Kuliwosky</h3>
	</header>
	<div class="team-detail__about">
		<p>Yury is a full-stack enthusiast who hails from Ulan-Ude, Buryatia, Russia and specializes in Ruby, C#, Javascript, and Ember. After studying mathematics as a university student, Yury began his career as a user interface and graphic design engineer before
			moving into back-end development. This wide range of experience makes Yury well-suited to handle many types of development tasks. In addition to his work as a freelance developer, Yury continues to pursue independent projects such as videobot.co and
			freekontakt.ru.</p>
	</div>
</div>
