.page-header {
@include page-hero;

  .headerflex {
    display: flex;
    justify-content: space-between;
  }

  .intro {
    flex-basis: 0;
    flex-grow: 1;
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: $main-font;
    
    .heading {
      color: white;
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 24px;
    }

    .bold {
      font-weight: 700;
    }

    .tagline {
      color: white;
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 40px;
    }
  }

  .image {
    display: none;
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
  }
}

@media(min-width: $width-md) {
  .page-header {
    height: 670px;

    background-image: url($header-bg);
    border-bottom-right-radius: 90px;

    &::after {
      display: none;
    }

    .intro {
      padding-top: 150px;
      padding-right: 0;
      padding-left: 0;

      .heading {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 30px
      }

      .tagline {
        font-size: 19px;
        padding-bottom: 50px;
      }
    }

    .image {
      display: block;
      padding-top: 150px;

      img {
        width: 80%;
      }
    }
  }
}

@media(min-width: $width-lg) {
  .page-header {
    height: 700px;

    .intro {
      padding-top: 180px;

      .heading {
        font-size: 42px;
        line-height: 50px;
      }
    }

    .image {
      padding-top: 215px;

      img {
        width: auto;
      }
    }
  } 
}

@media(min-width: $width-xl) {
  .page-header {
    height: 820px;

    .intro {
      padding-top: 225px;
    }
  }
}
