---
title: Blog
layout: full_page
---
<div class="blog-page home">
  {% include blog/blog_header.html %}
  <section>
    <div class="container">
      <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains 'blog' %}
              <li>
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <p>{{ post.description }}</p>
                <p class="meta"><em>{{ post.author }} - {{ post.date | date: '%B %d, %Y' }}</em></p>
              </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="subscribe" class="bg-light-gray">
    <div class="container">
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="page-scroll btn btn-xl rss-subscribe">Subscribe via RSS</a>
    </div>
  </section>
</div>
