@import "./vendors/bootstrap/bootstrap.css";
@import "./util.css";

html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;

  p {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

nav {

  &.navbar-default {
    background: rgba(255,255,255,.85);
    border-color: rgba(200,200,200, .85);
  }

  header {
    display: inline-block;
  }

  .navbar-brand {
    padding: 0;
    margin-right: 2rem;
  }

  .nav__logo--image {
    height: 4rem;
    vertical-align: middle;
    display: inline-block;
  }

  .nav__logo--text {
    font-size: 2rem;
    line-height: 5rem;
    vertical-align: middle;
    display: inline-block;
  }

  .nav__menu {
    flex: 1;
    list-style: none;
    display: inline-block;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;

    .nav__menu--item {
        flex: 1;
    }
  }
}

.splash__main {
  position: relative;
  padding: 0;
  margin: 0;

  max-height: 500px;
  vertical-align: middle;
  overflow: hidden;

  .splash__main--image {
    width: 100%;
  }

  &--dark-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-aligh: center;
    vertical-align: middle;
    background-color: rgba(0,0,0, .25);
  }

  &--text-frame {
    position: absolute;
    top: 30%;
    width: 100%;
    vertical-align: middle;
    margin-left: 3rem;
  }

  &--header {
    font-size: 5rem;
    color: white;
    text-shadow: 0px 3px 3px rgba(0,0,0,.25);
    margin: 0;
    padding: 0;

    strong {
      font-weight: bold;
    }
  }

  &--sub-header {
    font-weight: normal;
    font-size: 3rem;
    color: white;
    text-shadow: 0px 2px 2px rgba(0,0,0,.25);
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    width: 50rem;
  }

  &--action-button {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: normal;
    background-color: rgba(255,255,255,.75);
    color: #black;
    text-shadow: 0px 1px 1px rgba(255,255,255,.25);
    padding: 10px;
    border-color: #666;
    width: 200px;

    &:hover {
      background-color: rgba(0,0,0,.75);
      color: #eee;
    }
  }
}

section {
  padding-bottom: 6rem;
  border-bottom: 1px solid #eee;
  font-size: 2rem;

  header {
    margin: 6rem 0;
  }

  .section__header {
    font-size: 3.5rem;
    font-weight: 100;
    text-transform: uppercase;
    color: black;
    text-shadow: 0 1px 1px rgba(255,255,255,.25);
    padding: 0;
    margin: 0;
  }

  .section__sub-header {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    max-width: 50rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,.25);
    margin-bottom: 3rem;
  }
}
