.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.margin-left-3 {
  margin-left: 3rem;
}

.relative-box {
  position: relative;
}

.full-width {
  width: 100%;
  padding: 0;
}

.margin-center {
  margin: 0 auto;
}

.clear-nav {
  padding-top: 70px;
}

.absolute {
  position: absolute;
}
