@mixin decorative-dots {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
