.team-header {
  @include list-header;

  .heading {
    @include heading;
  }

  .description {
    font-size: 16px;
  }
}

.profile-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  padding-right: 15px;
  padding-left: 15px;

  .profile {
    overflow: hidden;
    position: relative;
    border-radius: 10px 0px 10px 0px;
    box-shadow: $shadow-xl;

    .wrapper {
      display: flex;
    }

    .meta {
      display: flex;
      position: relative;
      width: 50%;
    }

    .photo {
      display: none;
      position: relative;
      width: 50%;

      img {
        width: 100%;
      }
    }

    .toggle-button {
      display: none;
    }

    .background-toggle-input {
      display: none;
    }

    .fx-expand-button {
      display: none;
    }

    .details {
      width: 100%;
      padding: 5px 10px;
      background-color: $blue900;
    }

    .name {
      color: white;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 0;
    }

    .position {
      color: $grey500;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 0;
      margin-top: 5px;
    }

    .bgimg {
      position: relative;
      width: 50%;
    }
  }

  .sociallinks {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 15px;

    a {
      color: $pink400;
      text-decoration: none;
      margin-left: 8px;
      margin-right: 8px;
    }

    a,
    .fa {
      font-size: 16px;
    }
  }
}

@media(min-width: $width-md) {
  .profile-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media(min-width: $width-lg) {
  .team-header {
    padding: 40px 40px;

    .description {
      width: 50%;
    }
  }

  .profile-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: 92px;
    grid-auto-flow: dense;
    column-gap: 3%;
    row-gap: 8px;
    height: auto;

    .profile {
      margin-top: 0;
      margin-bottom: 0;
      cursor: pointer;
      transition: all .2s ease-in-out;

      .sociallinks {
        display: none;
      }

      .fx-expand-button {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $pink400;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        @include bg-navy-gradient;
      }

      .bgimg {
        width: 50%;
        transition: transform 1s;
        transform-origin: top center;
      }

      &.fx-expand {
        position: relative;
        background-size: cover;
        grid-column: span 2;
        grid-row: span 4;

        .toggle-button {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;

          label {
            display: block;
          }

          div[data-fx="toggle-background-button"] {
            width: 38px;
            text-align: center;
            background-color: white;

            &:before {
              content: '\f03e';
              font-family: 'FontAwesome';
            }
          }

          input[data-fx="background-toggle"]:checked + div[data-fx="toggle-background-button"] {
            &:before {
              content: '\f007';
              font-family: "FontAwesome";
            }
          }

          .button:first-child {
            margin-right: 10px;
          }
        }

        .meta {
          display: flex;
          align-items: center;
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 20px;
          @include bg-navy-gradient;
        }

        .photo {
          display: block;
          overflow: hidden;
          width: 100px;
          height: 100px;
          border-radius: 100px;
          border: 2px solid white;

          img {
            width: 162%;
            margin-left: -20%;
          }
        }

        .details {
          width: auto;
          margin-left: 10px;
          background-color: transparent;
        }

        .name {
          font-size: 24px;
          font-weight: 600;
        }
        .position {
          font-size: 19px;
        }

        .sociallinks {
          display: block;
          margin-right: 0;
          margin-left: auto;

          a {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 19px;
          }

          a,
          .fa {
            font-size: 25px;;
          }
        }

        .bgimg {
          width: 100%;
          transform: scale(1.06);
        }

        .fx-expand-button {
          display: none;
        }
      }
    }
  }
}

@media(min-width: $width-xl) {
  .team-header {
    margin-bottom: 20px;
  }

  .profile-list {
    grid-auto-rows: 120px;

    .profile {

      .details {
        padding: 20px 15px;
      }

      .name {
        font-size: 18px;
        height: 38px;
      }

      .position {
        font-size: 15px;
        line-height: 19px;
        height: 38px;
      }
    }
  }
}
