<!-- Case studies Section -->
<section id="work" class="work">
  <div id="portfolio" class="portfolio container">
      <div class="container">
          <div class="row">
          {% for post in site.work %}
              <div class="col-md-4 col-sm-6 portfolio-item">
                  {% if post.status contains 'published' %}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-link">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="/img/case-studies/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                  </a>
                  {% else %}
                  <a href="#work" class="portfolio-link">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="/img/case-studies/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                  </a>
                  {% endif %}
                  <div class="portfolio-caption">
                      <h4>{{ post.client }}</h4>
                      <p class="text-muted">{{ post.subtitle }}</p>
                  </div>
              </div>
          {% endfor %}
          </div>
      </div>
  </div>
</section>
