<!-- Careers: Header -->
<header class="case-studies">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Work with us at <span>Rapid River Software</span></div>
            <div class="intro-lead-in">We believe that finding fulfilment in your work is what turns a job into a career. Learn more about us and see if this is the place for you.</div>
            <!-- <a href="#case-studies" class="page-scroll btn btn-xl">See our work</a> -->
            <a href="#positions" class="page-scroll btn btn-xl">View open positions</a>
        </div>
        <div class="intro-image">
            <img src="/img/careers/header-person-working.png" alt="Vector image of person on a laptop">
        </div>
    </div>
</header>

