<!-- Case studies Section -->
<div id="portfolio" class="portfolio">
{% for post in site.case_studies %}
    <section class="portfolio-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if post.status contains 'published' %}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-link">
                        <img src="/img/case-studies/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    {% else %}
                    <a href="javascript:void(0)" class="portfolio-link">
                        <img src="/img/case-studies/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endfor %}
</div>
