<!-- Careers: Header -->
<header class="header header--case-studies">
    <div class="container d-flex">
        <div class="header--intro-text">
            <div class="header--intro-heading">A showcase of work <span class="line-breaker">we are very proud of</span></div>
            <div class="header--intro-lead-in">One of the things we pride ourselves on is listening to our clients to truly understand their needs. We've worked on a variety of products, here are a few we are particularly proud of.</div>
            <a href="#projects" class="page-scroll btn btn-xl">See our work</a>
        </div>
        <div class="intro-image d-none d-md-block">
            <img src="/assets/img/case-studies/computer-case-studies.png" alt="Vector image of person on a laptop">
        </div>
    </div>
</header>
