<!-- Case Studies: Header -->
<header class="page-header -other">
    <div class="container">
        <div class="headerflex">
            <div class="intro">
                <div class="heading">
                    A <span class="bold">showcase</span> of work we are very <span class="bold">proud</span> of
                </div>
                <div class="tagline">One of the things we pride ourselves on is listening to our clients to truly understand their needs. We've worked on a variety of products, here are a few we are particularly proud of.</div>
                <a href="#projects" class="button -white">See our work</a>
            </div>
            <div class="image">
                <img src="/assets/img/headers/case-studies.png" alt="Vector image of person on a laptop">
            </div>
        </div>
    </div>
</header>
