<!-- Case studies Section -->
<div class="casestudy-list">
    {% for post in site.case_studies %}
      {% if post.status contains 'published' %}
      <article id="{{post.slug}}" class="casestudy-item">
            <div class="intro">
                <h4 class="title">{{ post.title }}</h4>
                <p class="client">{{ post.client }}</p>

                <ul class="taglist">
                    <li>Tags:</li>
                    {% for tag in post.tags %}
                    <li class="tag">
                        <a>{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <picture class="">
                    <source srcset="/assets/img/case-studies/{{ post.slug }}-thumbnail.webp" type="image/webp">
                    <source srcset="/assets/img/case-studies/{{ post.slug }}-thumbnail.jpg" type="image/jpeg">
                    <img src="/assets/img/case-studies/{{ post.slug }}-thumbnail.jpg" alt="" class="">
                </picture>
            </div>

            <div class="content">
                {{ post.content | markdownify }}
            </div>
      </article>
      {% endif %}
  {% endfor %}  
</div>
