<!-- Case studies Section -->
<div id="projects" class="casestudy-list">
    {% assign case_studies = site.case_studies | sort: 'id' %}
    {% for post in case_studies reversed %}
      {% if post.status contains 'published' %}
      <article id="{{post.slug}}" class="casestudy-item">
            <div class="intro">
                <span>
                    <div class="text">
                        <h4 class="title">{{ post.title }}</h4>
                        <p class="client">{{ post.client }}</p>
        
                        <ul class="taglist">
                            <li class="tag">Tags:</li>
                            {% for tag in post.tags %}
                            <li class="tag">
                                <a>{{ tag }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="productimg">
                        <img src="/assets/img/case-studies/product/{{ post.slug }}.png" alt="" class="img">
                    </div>

                    {% if post.blog-post %}
                        <div class="blogredirect">
                            <a href="/blog/{{post.blog-post}}" class="button -blue">
                                Read more on the blog
                            </a>
                        </div>
                    {% endif %}
                </span>

                <ul class="service-list">
                    <li class="serviceitem -title">Related solutions:</li>
                    {% for service in post.related-services %}
                    <li class="serviceitem">
                        <a class="link-pink capitalize" href="/services/#{{ service }}">{{ service | replace: "-", " " }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="content">
                {{ post.content | markdownify }}
            </div>
      </article>
      {% endif %}
  {% endfor %}
</div>
