{% if site.inc.sharing.twitter or site.inc.sharing.facebook or site.inc.sharing.gplus or site.inc.sharing.hn %}
<!--<div class="social">-->
    {% if site.inc.sharing.twitter %}<div>
        <!--<a href="https://twitter.com/share" class="twitter-share-button" {% if site.inc.sharing.twitter.via %}data-via="{{ site.inc.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.inc.twitter }}">Tweet</a>-->
    <!--</div>-->
    {% endif %}
    {% if site.inc.sharing.facebook %}
    <!--<div>-->
        <!--<div class="fb-like" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>-->
    <!--</div>-->
    {% endif %}
    {% if site.inc.sharing.gplus %}
    <!--<div>-->
        <!--<div class="g-plusone" data-size="medium"></div>-->
    <!--</div>-->
    {% endif %}

    {% if site.inc.sharing.hn %}
    <!--<div>-->
        <!--<a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>-->
    <!--</div>-->
    {% endif %}
<!--</div>-->
{% endif %}

<ul class="social-buttons">
  <li>
    <iframe src="https://ghbtns.com/github-btn.html?user=RapidRiverSoftware&type=follow&count=true" frameborder="0" scrolling="0" width="190px" height="20px"></iframe>
  </li>
  <li>
    <iframe src="https://ghbtns.com/github-btn.html?user=RapidRiverSoftware&repo=rapidriversoftware.github.io&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </li>
  <li class="follow-btn">
    <a href="https://twitter.com/rapidriversw" class="twitter-follow-button" data-show-count="false">Follow @rapidriversw</a>
  </li>
  <li class="tweet-btn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rrsoft.co/" data-count="horizontal" data-via="sendtorrsoft" data-related="sendtorrsoft">Tweet</a>
  </li>
</ul>
