<!-- Case studies Section -->
<section id="work" class="work">
    <div class="container">
        <div class="row">
            <div class="col-md order-2 order-md-1">
                <div class="case-study-photo-grid">
                    <picture>
                        <source srcset="/assets/img/case-studies/thumbnail/ruby.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/thumbnail/ruby.jpg" type="image/jpg">
                        <img src="/assets/img/case-studies/thumbnail/ruby.jpg" />
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/thumbnail/blank.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/thumbnail/blank.png" type="image/png">
                        <img src="/assets/img/case-studies/thumbnail/blank.png" />
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/avvo-thumbnail.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/avvo-thumbnail.jpg" type="image/jpg">
                        <img src="/assets/img/case-studies/avvo-thumbnail.jpg">
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/essayjack-thumbnail.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/essayjack-thumbnail.jpg" type="image/jpg">
                        <source>
                        <img src="/assets/img/case-studies/essayjack-thumbnail.jpg">
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/thumbnail/js.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/thumbnail/js.jpg" type="image/jpg">
                        <source>
                        <img src="/assets/img/case-studies/thumbnail/js.jpg">
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/thumbnail/blank.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/thumbnail/blank.png" type="image/png">
                        <img src="/assets/img/case-studies/thumbnail/blank.png" />
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/thumbnail/react.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/thumbnail/react.jpg" type="image/jpg">
                        <img src="/assets/img/case-studies/thumbnail/react.jpg">
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/thumbnail/blank.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/thumbnail/blank.png" type="image/png">
                        <img src="/assets/img/case-studies/thumbnail/blank.png" />
                    </picture>
                    <picture>
                        <source srcset="/assets/img/case-studies/fullslate-thumbnail.webp" type="image/webp">
                        <source srcset="/assets/img/case-studies/fullslate-thumbnail.jpg" type="image/jpg">
                        <img src="/assets/img/case-studies/fullslate-thumbnail.jpg">
                    </picture>
                </div>
            </div>
            <div class="col-md order-1 order-md-2 text-center">
                <h2 class="section-heading">Case studies</h2>
                <h3 class="section-subheading text-muted mb-5">
                    We have worked with clients from various
                    <span class="line-breaker">
                        industries to solve diverse problems.
                    </span>
                </h3>
                <a href="/case-studies/#projects" class="btn btn-primary">See our work</a>
            </div>
        </div>
    </div>
</section>
