<!-- Case studies Section -->
<section id="work" class="work">
    <div class="container">
        <div class="flex-row">
            <div class="flex-column">
                <div class="case-study-photo-grid">
                    <img src="/assets/img/case-studies/thumbnail/ruby.png">
                    <img src="/assets/img/case-studies/thumbnail/blank.png">
                    <img src="/assets/img/case-studies/avvo-thumbnail.png">
                    <img src="/assets/img/case-studies/essayjack-thumbnail.png">
                    <img src="/assets/img/case-studies/thumbnail/js.png">
                    <img src="/assets/img/case-studies/thumbnail/blank.png">
                    <img src="/assets/img/case-studies/thumbnail/react.png">
                    <img src="/assets/img/case-studies/thumbnail/blank.png">
                    <img src="/assets/img/case-studies/fullslate-thumbnail.png">
                </div>
            </div>
            <div class="flex-column text-center">
                <h2 class="section-heading">Case studies</h2>
                <h3 class="section-subheading text-muted">We have worked with clients from various industries to solve diverse problems.</h3>
                <a href="/case_studies/#projects" class="page-scroll btn btn-xl">See our work</a>
            </div>
        </div>
    </div>
</section>
