<!-- Case studies Section -->
<section id="work" class="work">
    <div class="container">
        <div class="row">
            <div class="col-md order-2 order-md-1">
                <div class="case-study-photo-grid">
                    <img src="/assets/img/case-studies/thumbnail/ruby.png">
                    <img src="/assets/img/case-studies/thumbnail/blank.png">
                    <img src="/assets/img/case-studies/avvo-thumbnail.png">
                    <img src="/assets/img/case-studies/essayjack-thumbnail.png">
                    <img src="/assets/img/case-studies/thumbnail/js.png">
                    <img src="/assets/img/case-studies/thumbnail/blank.png">
                    <img src="/assets/img/case-studies/thumbnail/react.png">
                    <img src="/assets/img/case-studies/thumbnail/blank.png">
                    <img src="/assets/img/case-studies/fullslate-thumbnail.png">
                </div>
            </div>
            <div class="col-md order-1 order-md-2 text-center">
                <h2 class="section-heading">Case studies</h2>
                <h3 class="section-subheading text-muted mb-5">
                    We have worked with clients from various
                    <span class="line-breaker">
                        industries to solve diverse problems.
                    </span>
                </h3>
                <a href="/case_studies/#projects" class="page-scroll btn btn-xl">See our work</a>
            </div>
        </div>
    </div>
</section>
