<!-- Expertise Section -->
    <section id="expertise">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Expertise</h2>
                    <h3 class="section-subheading text-muted">Rapid River developers have substantial experience with the building blocks of today's Internet, including:</h3>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/ruby.png" alt="Ruby">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/rails.png" alt="Ruby on Rails">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/php.png" alt="PHP">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/perl.png" alt="Perl">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/linux.png" alt="Linux">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/aws.png" alt="Amazon Web Services">
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/html5.png" alt="HTML5">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/css3.png" alt="CSS3">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/jquery.png" alt="jQuery">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/angular.png" alt="AngularJS">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/ember.png" alt="EmberJS">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/react.png" alt="ReactJS">
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/mysql.png" alt="MySQL">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/postgres.png" alt="PostgreSQL">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/oracle.png" alt="Oracle">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/redis.png" alt="Redis">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/elasticsearch.png" alt="ElasticSearch">
              </div>
              <div class="col-md-2">
                <img class="img-responsive" src="img/expertise/chef.png" alt="Chef">
              </div>
            </div>
        </div>
    </section>
