  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 company-info">
                    <p><strong>Telephone:</strong> +60 3 2242 0689</p>
                    <p><strong>Office addresses:</strong><br>
                    United States: 50 Sunnyside Avenue, Reading, MA 01867<br>
                    Malaysia: Unit 25-02 Tower A, The Vertical Business Suites,<br>Avenue 3 Bangsar South City, No. 8 Jalan Kerinchi, 59200 Kuala Lumpur</p>
                </div>
            </div>
        </div>
    </footer>
