  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 company-info">
                    <p><strong>Telephone:</strong> +60 3 2242 0689</p>
                    <p><strong>Office addresses:</strong><br>
                    United States: 50 Sunnyside Avenue, Reading, MA 01867<br>
                    Malaysia: Unit 25-02 Tower A, The Vertical Business Suites,<br>Avenue 3 Bangsar South City, No. 8 Jalan Kerinchi, 59200 Kuala Lumpur</p>
                </div>
            </div>
        </div>
    </footer>
<script type="text/javascript">
!function(e,n){var t=document.createElement("script");t.onload=t.onreadystatechange=function(e){("load"===(e||window.event).type||/loaded|complete/.test(t.readyState)&&document.documentMode<=11)&&(t.onload=t.onreadystatechange=t.onerror=null,new IBTracker(void 0))},t.onerror=function(){t.onload=t.onreadystatechange=t.onerror=null},t.async=1,t.src="//ibclick.stream/assets/js/track/dist/js/v1/tracker.min.js",document.getElementsByTagName("head")[0].appendChild(t)}();
</script>
<script type="text/javascript">
    window.ibtracker = window.ibtracker || [];

    // add click event listener on every anchor links
    function trackClick(e) {
      if (e.target.tagName.toLowerCase() !== 'a') return;
      window.ibtracker.push(["articleClick", { eventText: e.target.innerText }]);
    }

    if (document.addEventListener) {
      document.addEventListener('click', trackClick);
    } else if (document.attachEvent) {
      document.attachEvent('click', trackClick);
    }
</script>
