<!-- Header -->
<!-- <header class="header header--home">
    <div class="container">
        <div class="header--intro-text">
            <div class="header--intro-heading">Building cost-effective web solutions and solving hard problems well.
            </div>
            <div class="header--intro-lead-in">Rapid River Software provides smart, cost-effective engineers who are
                driven by a passion for getting things done.</div>
            <a href="/hire-us/#project-details" class="button -blue">Get in touch</a>
        </div>
    </div>
</header> -->

<header class="page-header -home">
    <div class="container d-flex">
        <div class="row">
            <div class="intro col-md-5">
                <div class="heading">
                    Building <span class="bold">cost-effective</span> web solutions and <span class="bold">solving</span> hard problems well.
                </div>
                <div class="tagline">Rapid River Software provides smart, cost-effective engineers who are
                    driven by a passion for getting things done.</div>
                <a href="/hire-us/#project-details" class="button -blue">Get in touch</a>
            </div>
            <div class="image col-md-7 d-none d-md-block">
                <!-- blank for now -->
            </div>
        </div>
    </div>
</header>
