<!-- Header -->
<header class="page-header -other">
    <div class="container d-flex">
        <div class="row">
            <div class="intro col-md-7 col-lg-5">
                <div class="heading">
                    Building <span class="bold">cost-effective</span> web solutions and <span class="bold">solving</span> hard problems well.
                </div>
                <div class="tagline">Rapid River Software provides smart, cost-effective engineers who are
                    driven by a passion for getting things done.</div>
                <a href="/hire-us/#project-details" class="button -white">Get in touch</a>
            </div>
            <div class="image col-md-5 col-lg-7 d-none d-md-block">
                <img src="/assets/img/headers/home.png" alt="Two people canoeing down the river">
            </div>
        </div>
    </div>
</header>
