    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Building cost-effective web solutions and solving hard problems well.</div>
                <div class="intro-lead-in">Rapid River Software provides smart, cost-effective engineers who are driven by a passion for solving hard problems well.</div>
                <a href="#case-studies" class="page-scroll btn btn-xl">See our work</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

