<section id="hire_cta" class="bg-light-gray">
        <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="section-heading">Let us get things done for you</h2>
                        <h3 class="section-subheading text-muted">
                            We have worked on projects in the education space to data analytics. We work on long-term projects and build lasting relationships with our clients.
                        </h3>
        
                        <a href="/hire_us" class="page-scroll btn btn-xl">Hire us</a>
                    </div>
                </div>
        </div>
    </section>
