<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar--main">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/">
                <img
                    src="/assets/img/logos/rrs.png"
                    width="auto"
                    height="30"
                    class="d-none d-sm-none d-md-block"
                    alt="{{ site.title }}"
                >
                <img
                    src="/assets/img/logos/rrs-white.png"
                    width="auto"
                    height="30"
                    class="d-sm-block d-md-none"
                    alt="{{ site.title }}"
                >
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/case_studies">Case studies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/careers">Careers</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/hire_us">Hire us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
