<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark navbar--main -dark">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logos/rrs.png" width="auto" height="30" class="d-none d-sm-none d-md-block"
                alt="{{ site.title }}">
            <img src="/assets/img/logos/rrs-white.png" width="auto" height="30" class="d-sm-block d-md-none"
                alt="{{ site.title }}">
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav">
                <li style="display:none">
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/services" class="nav--link">Services</a>
                </li>
                <li>
                    <a href="/case-studies" class="nav--link">Case studies</a>
                </li>
                <li>
                    <a href="/blog/" class="nav--link">Blog</a>
                </li>
                <li>
                    <a href="/hire-us" class="button -pink">Hire us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
