<!-- Services Section -->
<section id="services" class="content-row bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted mb-5">
                        Rapid River developers have substantial
                    <span class="line-breaker">
                        experience with the building blocks of
                    </span>
                    <span class="line-breaker">
                        today's Internet.
                    </span>
                </h3>
            </div>
            <div class="col-md text-center">
                <div class="mt-5">
                    <img src="/assets/img/services/cta-icons.png" class="services-img" />
                </div>
            </div>
        </div>
    </div>
</section>
