.careers-page {
  .benefits {
    padding-bottom: 40px;
    background-color: $grey200;

    .container {
      @include flex-column-center;
    }

    .benefitslist {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .benefitslist .item {
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;

      .benefitheading {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
      }

      .benefitdesc {
        color: $grey500;
      }
    }
  }
}

@media(min-width: $width-md) {
  .careers-page {
    .benefits {
      padding-top: 40px;

      .benefitslist {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
}

@media(min-width: $width-lg) {
  .careers-page {
    .benefits {
      .benefitslist {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
}
