.careers-page {
  .recruitment {
    padding-bottom: 40px;
    background-color: $grey200;
    
    .container {
      @include flex-column-center;
    }

    .processlist {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .processlist .item {
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;

      .processheading {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
      }

      .processdesc {
        color: $grey500;
      }
    }
  }
}

@media(min-width: $width-md) {
  .careers-page {
    .recruitment {
      padding-top: 40px;

      .processlist {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
}

@media(min-width: $width-lg) {
  .careers-page {
    .recruitment {
      .processlist {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
}
