<!-- Blog: Header -->
<header class="page-header">
    <div class="container">
        <div class="headerflex">
            <div class="intro">
                <div class="heading">
                    Sharing <span class="bold">experiences</span>, thoughts and <span class="bold">ideas</span>
                </div>
                <div class="tagline">We often come across interesting challenges on the job. We write about topics related to software development, remote working and business.</div>
                <a href="#posts" class="button -white">Start reading</a>
            </div>
            <div class="image">
                <img src="/assets/img/headers/blog.png" alt="Vector image of person writing on a laptop">
            </div>
        </div>
    </div>
</header>
