<!-- About: Header -->
<header class="page-header -other">
    <div class="container d-flex">
        <div class="row">
            <div class="intro col-md-7 col-lg-5">
                <div class="heading">
                    Sharing <span class="bold">experiences</span>, thoughts and <span class="bold">ideas</span>
                </div>
                <div class="tagline">We often come across interesting challenges on the job. We write about topics related to software development, remote working and business.</div>
                <a href="#posts" class="button -white">Start reading</a>
            </div>
            <div class="image col-md-5 col-lg-5 d-none d-md-block">
                <img src="/assets/img/headers/blog.png" alt="Vector image of person writing on a laptop">
            </div>
        </div>
    </div>
</header>
