<!-- About: Header -->
<header class="header header--blog">
    <div class="container d-flex">
        <div class="header--intro-text">
            <div class="header--intro-heading">Rapid River Blog</div>
            <div class="header--intro-lead-in">We often come across interesting challenges on the job. We have
                documented some of them here on our blog.</div>
            <a href="#subscribe" class="btn btn-xl">Subscribe</a>
        </div>
        <div class="intro-image d-none d-md-block">
            <img src="/assets/img/headers/blog.png" alt="Vector image of person on a laptop">
        </div>
    </div>
</header>
