<!-- Success: Header -->
<header class="page-header -other">
    <div class="container">
        <div class="headerflex">
            <div class="intro">
                <div class="heading">
                    Thank you for your <span class="bold">message</span>
                </div>
                <div class="tagline">
                    Please give us some time to get in touch. If you plan to stick around, consider checking out the suggestions section for other content.
                </div>
                <a href="/hire-us" class="button -white">Go back</a>
                <a href="#suggestions" class="button -white ml-10">Suggestions</a>
            </div>
            <div class="image">
                <img src="/assets/img/headers/success.png" alt="Mail flying into a mailbox">
            </div>
        </div>
    </div>
</header>
