.cta-group-list {
  padding-left: 0;
  list-style: none;
}

.cta-group-item {
  display: inline-block;
}

.cta-group-item:first-child {
  margin-bottom: 20px;
}  

@media(min-width: $width-md) {
  .cta-group-item:first-child {
    margin-right: 10px;
    margin-bottom: 0;
  }  
}

.action-link {
  display: inline-block;
  margin-bottom: 50px;
}
