<!-- Services: Custom Software -->
<section class="custom-software services-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col">
            <h2 class="section-heading">Custom Software Development</h2>
            <h3 class="section-subheading text-muted">
              Rapid River Software is a worldwide group of full-stack developers with skills ranging from front-end to operations, automation, and everything in between. We strive to provide the best solutions for our clients and create the best environment for our people.
            </h3>
      </div>
      <div class="col">
        <p>software</p>
      </div>
    </div>
  </div>
</section>
