<!-- Services: Header -->
<header class="header header--services">
    <div class="container d-flex">
        <div class="header--intro-text">
            <div class="header--intro-heading">We're in the business of solving problems</div>
            <div class="header--intro-lead-in">Each product has a unique set of requirements. Take a look at the
                services we offer and let us know what we can do for you.</div>
            <a href="#projects" class="page-scroll btn btn-xl">See our services</a>
        </div>
        <div class="intro-image d-none d-md-block">
            <img src="/assets/img/case-studies/computer-case-studies.png" alt="Vector image of person on a laptop">
        </div>
    </div>
</header>
