<!-- Services: Header -->
<header class="header header--services">
    <div class="container d-flex">
        <div class="header--intro-text">
            <div class="header--intro-heading">We're in the business of solving problems</div>
            <div class="header--intro-lead-in">Each project has a unique set of requirements, and we offer solutions to suit each product. Find out what we can do for you.</div>
            <a href="#services" class="page-scroll btn btn-xl">See our services</a>
        </div>
        <div class="intro-image d-none d-md-block">
            <img src="/assets/img/services/services.png" alt="Vector image of person on a laptop">
        </div>
    </div>
</header>
