<!-- Services: Header -->
<header class="page-header -other">
    <div class="container">
        <div class="headerflex">
            <div class="intro">
                <div class="heading">We're in the <span class="bold">business</span> of <span class="bold">solving</span> problems</div>
                <div class="tagline">We will partner with you to discover and implement the best solution that is tailored to your specific needs. Explore our services.</div>
                <a href="#capabilities" class="button -white">Browse Capabilities</a>
                <a href="#solutions" class="button -white ml-10">See solutions</a>
            </div>
            <div class="image">
                <img src="/assets/img/headers/services.png" alt="Vector image of person on a laptop">
            </div>
        </div>
    </div>
</header>
