<!-- Services List Section -->
<div id="services" class="services">
    {% for post in page.services %}
        {% for ordered_post in site.services in  %}
            {% if post == ordered_post.slug %}
                <section id="{{ ordered_post.slug }}" class="content-row collection-list--item">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-9 col-md-12 order-2 order-md-1 align-text-middle">
                                <h2 class="services__list--heading mb-md-5">
                                    {{ ordered_post.title }}
                                </h2>
                            </div>
                            <div class="col-3 col-md-2 order-1 order-md-2">
                                <a href="{{ ordered_post.url | prepend: site.baseurl }}" class="">
                                    <img src="/assets/img/services/icons/icon-{{ ordered_post.slug }}.svg" class="full-width" />
                                </a>
                            </div>
                            <div class="col-md-6 order-3">
                                <h3 class="section-subheading text-muted mb-3 mb-md-5 mt-3 mt-md-0">
                                    {{ ordered_post.description }}
                                </h3>
                                <a href="{{ ordered_post.url | prepend: site.baseurl }}" class="">
                                    Learn more about {{ ordered_post.title }}.
                                </a>
                            </div>
                            <div class="col-md-4 order-4 mt-5 mt-md-0">
                                <h4>Related projects</h4>
                                <ul>
                                    {% for project in ordered_post.related-projects %}
                                    <li>
                                        <a href="/case-studies{{ project[1] }}">
                                            {{ project[0] }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            {%endif%}
        {% endfor %}
    {% endfor %}
</div>
