.hireus-page {
  .existingprojects {
    padding-bottom: 40px;
    
    .container {
      @include flex-column-center;
    }

    .valueslist {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .valueslist .item {
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;

      .valueheading {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
      }

      .valuedesc {
        color: $grey500;
      }
    }
  }
}

@media(min-width: $width-md) {
  .hireus-page {
    .existingprojects {
      padding-top: 40px;

      .valueslist {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media(min-width: $width-lg) {
  .hireus-page {
    .existingprojects {
      .valueslist {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
