.capabilities-component {
  @include flex-column-center;
}

.capabilities-header {
  @include list-header;
  margin-top: -40px;

  .heading {
    font-size: 28px;
    text-transform: capitalize;
  }

  .description {
    font-size: 16px;
  }
}

.capabilities-list {
  @include flex-column-center;
}

.capability-item {
  width: 100%;
  margin-bottom: 10px;
  @include white-bucket;

  p {
    font-size: 16px;
  }

  a {
    color: $pink400;
    font-weight: 600;
    text-decoration: underline;
  }

  .title {
    color: $blue900;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .description {
    font-size: 16px;
  }

  .iconbox {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

@media(min-width: $width-md) {
  .capabilities-list {
    width: 80%;
  }
}

@media(min-width: $width-lg) {
  .capabilities-header {
    width: 460px;
    padding: 10px 40px 40px 40px;
  }

  .capabilities-list {
    max-width: 960px;
    width: 100%;
    max-height: 1585px;
    flex-flow: column wrap;
  }

  .capability-item {
    width: 460px;
    padding: 5px 40px 40px 40px;
    margin-top: 40px;
  }
}

@media(min-width: $width-xl) {
  .capabilities-header {
    width: 550px;
  }

  .capabilities-list {
    max-width: 1140px;
    max-height: 1500px;
    align-content: space-between;
  }

  .capability-item {
    width: 550px;
  }
}
