.solutions-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

@media(min-width: $width-lg) {
  .solutions-component {
    margin-top: 150px;
  }
}

.solutions-header {
  background-color: $blue900;
  background-image: url($solutionheader-bg);
  border-radius: 30px;
  box-shadow: $shadow-xl;
  color: white;
  padding: 40px 20px;
  margin-bottom: 30px;

  .heading {
    font-size: 28px;
    text-transform: capitalize;
  }

  .description {
    font-size: 16px;
  }
}

@media(min-width: $width-md) {
  .solutions-header {
    width: 80%;
  }
}

@media(min-width: $width-lg) {
  .solutions-header {
    max-width: 960px;
    width: 100%;
    padding: 40px 40px;

    .description {
      width: 50%;
    }
  }
}

.solution-item {
  display: flex;
  flex-direction: column;

  .text {
    background-color: white;
    background-image: url($solutionicon-bg);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .intro {
    background-color: white;
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: $shadow-xl;
  }

  .title {
    color: $blue900;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .description {
    font-size: 16px;
  }

  .iconbox {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .iconimg {
    width: 30%;
  }

  .processlist {
    margin-bottom: 40px;

    ol {
      list-style: none;
      padding-left: 0px;
      margin-bottom: 0px;
    }

    ol:first-child {
      counter-reset: numcounter;
    }

    ol.related {
      text-transform: uppercase;
    }

    ol:first-child > li {
      counter-increment: numcounter;

      &::before {
        content: counter(numcounter);
      }
    }

    ol > li {
      position: relative;
      color: $blue300;
      padding: 20px 20px 20px 60px;
      font-size: 20px;
      font-weight: 600;

      &::before {
        position: absolute;
        left: 10px;
        top: 30px;
        color: $grey100;
        font-size: 48px;
        font-weight: 900;
      }

      &::last-child {
        margin-bottom: 0;
      }
    }

    ol:first-child > li:nth-child(odd) {
      background-color: $purple600;
    }
    ol:first-child > li:nth-child(even) {
      background-color: $purple800;
    }

    ol.related > li {
      background-color: $blue700;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      &::before {
        content: "*";
      }
    }

    ol > li > ul {
      padding-left: 0px;
      list-style: none;
      color: $grey100;
      font-weight: 400;
    }

    ol.related > li > ul {
      text-transform: none;
    }

    ol > li > ul > li {
      line-height: 24px;
    }
  }
}

@media(min-width: $width-lg) {
  .solution-item {
    flex-direction: row;
    flex: 1 1 0px;
    margin-bottom: 100px;

    .intro {
      padding: 40px;
    }

    .text {
      width: 40%;
      border-radius: 30px;
    }

    .iconimg {
      width: 50%;
      padding-top: 30%;
    }

    .processlist {
      width: 60%;
      margin-bottom: 0;

      ol {
        padding-left: 10px;
      }

      ol > li {
        padding: 20px 40px 20px 75px;
        border-radius: 20px;

        &::before {
          left: 25px;
        }
      }

      ol.related li {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      ol:first-child li {
        margin-bottom: 10px;
      }
    }
  }
}

.solutions-list {
  display: flex;
  flex-direction: column;
}

@media(min-width: $width-md) {
  .solutions-list {
    width: 80%;
  }
}

@media(min-width: $width-lg) {
  .solutions-list {
    max-width: 960px;
    width: 100%;
  }
}
