<div class="widget__blog-feed">
    <h4 class="service-heading">Recent Posts</h4>
    <ul class="list-group">
    {% for post in site.posts limit:3 %}
        {% if post.categories contains 'blog' %}
        <li class="list-group-item">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h4 class="service-heading">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </h4>
                <!-- <p>{{ post.description | truncate:120 }}</p> -->
            </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
