<!-- CTA to "Hire Us" Page -->
<section class="cta-to-hire-us">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Talk to us about your project</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">We work on long-term projects and build lasting relationships
                    with our clients. Tell us more about your product and how we can help you.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/hire-us/#project-details" class="btn btn-xl">Hire us</a>
            </div>
        </div>
    </div>
</section>
