<!-- Error404: Suggestions -->
<div id="suggestions" class="suggestions-component">
    <div class="container">
        <div class="suggestions-list">
            <div class="suggestions-header">
                <h2 class="heading">Suggested Actions</h2>
                <p class="description">
                    The page you are looking for may have moved since the last time you were here. If that's the case, we'd like to make some suggestions to help you find what you need.
                </p>
            </div>
            <div class="suggestion-item">
                <h4 class="title">Consider our services</h4>
                <p class="description">
                    Perhaps you are interested to learn more about our services and the value we can bring to your product. 
                </p>
                <a href="/services" class="link -pink">See what we can do for you</a>
                <div class="iconbox">
                    <img src="/assets/img/error-success/solution.svg" alt="All web services around a computer" class="iconimg" /> 
                </div>
            </div>
            <div class="suggestion-item">
                <h4 class="title">Peruse our work</h4>
                <p class="description">
                    There is a possibility that you needed more information about projects we have worked on.
                </p>
                <a href="/case-studies" class="link -pink">Check out case studies</a>
                <div class="iconbox">
                    <img src="/assets/img/error-success/peruse.svg" alt="Using a pair of binoculars to look at our work" class="iconimg" /> 
                </div>
            </div>
            <div class="suggestion-item">
                <h4 class="title">Hire us</h4>
                <p class="description">
                    You could have a project and may be looking for developers with creative problem solving skills.
                </p>
                <a href="/hire-us" class="link -pink">Engage us for your project</a>
                <div class="iconbox">
                    <img src="/assets/img/error-success/talk.svg" alt="Person offering solutions to their team mate" class="iconimg" /> 
                </div>
            </div>
            <div class="suggestion-item">
                <h4 class="title">See open positions</h4>
                <p class="description">
                    There may be a chance you've already decided to join our team (yay!) and want to apply for a job.
                </p>
                <a href="/careers" class="link -pink">Apply for a job</a>
                <div class="iconbox">
                    <img src="/assets/img/error-success/cv.svg" alt="CV with pen and some papers" class="iconimg" /> 
                </div>
            </div>
            <div class="suggestion-item">
                <h4 class="title">Learn about the team</h4>
                <p class="description">
                    Maybe you wanted to get a glimpse of who we are and what our team cares about.
                </p>
                <a href="/about" class="link -pink">Get to know us better</a>
                <div class="iconbox">
                    <img src="/assets/img/error-success/team-profiles.svg" alt="Team member photos with profiles" class="iconimg" /> 
                </div>
            </div>
            <div class="suggestion-item">
                <h4 class="title">Check out our blog</h4>
                <p class="description">
                    You could have also just been browsing for something to read
                </p>
                <a href="/blog" class="link -pink">Check out some posts</a>
                <div class="iconbox">
                    <img src="/assets/img/error-success/read.svg" alt="A book with all sorts of information" class="iconimg" /> 
                </div>
            </div>
        </div>
    </div>
</div>
