/* About page Content */
@media(min-width:768px) {
    .section-subheading {
        width: 60%;
        margin: 0 auto;
    }
}

/* Instagram Feed Styles */

.instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.instafeed a {
  display: block;
  width: 90%;
  margin: 10px 0px;
  background-color:#ddc;
  border:solid 20px #729FB4;
  border-bottom-color:#92cce6;
  border-left-color:#7cadc3;
  border-radius: 2px;
  border-right-color:#7cadc3;
  border-top-color:#6c96a9;
  box-shadow:0 0 5px 0 rgba(0,0,0,.10) inset, 0 5px 10px 5px rgba(0,0,0,.10);
  box-sizing:border-box;
  display:inline-block;
  padding: 20px;
  position:relative;
  text-align:center;
}


.instafeed a:before {
  border-radius: 2px;
  bottom: -10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left: -10px;
  position:absolute;
  right: -10px;
  top: -10px;
}
.instafeed a:after {
  border-radius:2px;
  bottom: -10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left: -10px;
  position:absolute;
  right: -10px;
  top: -10px;
}

.instafeed a img {
  max-height:100%;
  max-width:100%;
  width: 100%;
  border: solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
}

@media(min-width:768px) {
  .instafeed a {
    width: 27%;
    margin: 1% 1%;
  } 
}
