---
title: Blog
layout: full_page
---
<!-- post list -->
<div class="blog-page home">
    {% include blog/header.html %}
    <section>
      <div class="container">
        <ul class="blog posts">
          {% for post in paginator.posts %}
          {% if post.categories contains 'blog' %}
          <li>
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p>{{ post.description }}</p>
            <p class="meta">{{ post.author }} - <em>{{ post.date | date: '%B %d, %Y' }}</em></p>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section>
      <!-- pagination -->
      <div class="container">
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}
        
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="/">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </section>

    {% include blog/subscribe.html %}
</div>
