<!-- Error404: Header -->
<header class="page-header -other">
    <div class="container">
        <div class="headerflex">
            <div class="intro">
                <div class="heading">The requested page was not found</div>
                <div class="tagline">You can return home or check out the suggestions section, it may have what you are looking for.</div>
                <a href="#suggestions" class="button -white">Suggestions</a>
                <a href="/" class="button -white ml-10">Go home</a>
            </div>
            <div class="image">
                <img src="/assets/img/headers/404.png" alt="">
            </div>
        </div>
    </div>
</header>
