<!-- Error404: Header -->
<header class="header header--404">
  <div class="container d-flex">
      <div class="header--intro-text">
          <div class="header--intro-heading">The requested page was not found<span class="line-breaker"></span></div>
          <div class="header--intro-lead-in">Maybe you can find what you're looking for in the suggestions section. You can also return to our homepage</div>

          <div class="cta-group">
              <ul class="cta-group-list">
                  <li class="cta-group-item"><a href="#suggestions" class="btn btn-xl">Suggestions</a></li>
                  <li class="cta-group-item"><a href="/" class="btn btn-xl">Go home</a></li>
              </ul>
          </div>
      </div>
      <div class="intro-image d-none d-md-block">
        <picture>
            <source srcset="/assets/img/error/404.webp" type="image/webp">
            <source srcset="/assets/img/error/404.png" type="image/png">
            <img src="/assets/img/error/404.png" />
        </picture>
      </div>
  </div>
</header>
