<!-- Error404: Suggestions -->
<section id="suggestions" class="suggestions bg-light-gray">
  <div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="section-heading">Suggested actions</h2>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
            <h3 class="section-subheading text-muted">We believe that the best work is done when you're not sweating the small stuff. These are some of the ways we help you do your best work.</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-cactus.svg" alt="Spacious, quiet, office with a decent view" class="icon icon-laptop" />
            <h4 class="service-heading">Our services</h4>
            <p class="text-muted">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-chair.svg" alt="A seat in the office for those who socialise" class="icon icon-laptop" />
            <h4 class="service-heading">Some of our work</h4>
            <p class="text-muted">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-sandwich.svg" alt="A sandwich with lettuce, cheese and tomatoes" class="icon icon-laptop" />
            <h4 class="service-heading">Hire us</h4>
            <p class="text-muted">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-mortar-board.svg" alt="Continuous learning is part of our culture" class="icon icon-laptop" />
            <h4 class="service-heading">See open positions</h4>
            <p class="text-muted">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-heart.svg" alt="A medical card" class="icon icon-laptop" />
            <h4 class="service-heading">Learn about the team</h4>
            <p class="text-muted">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-laptop.svg" alt="A laptop to work on" class="icon icon-laptop" />
            <h4 class="service-heading">Check out our blog</h4>
            <p class="text-muted">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
    </div>
</div>
</section>
