<!-- Error404: Suggestions -->
<section id="suggestions" class="suggestions bg-light-gray">
  <div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="section-heading">Suggested actions</h2>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
            <h3 class="section-subheading text-muted">The page you are looking for may have moved since the last time you were here. If that's the case, we'd like to make some suggestions to help you find what you need.</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-cactus.svg" alt="Spacious, quiet, office with a decent view" class="icon icon-laptop" />
            <h4 class="service-heading">Consider our services</h4>
            <p class="text-muted">Perhaps you are interested to learn more about our services and the value we can bring to your product.</p>
            <a href="/services" class="action-link">See what we can do for you</a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-chair.svg" alt="A seat in the office for those who socialise" class="icon icon-laptop" />
            <h4 class="service-heading">Peruse our work</h4>
            <p class="text-muted">There is a possibility that you needed more information about projects we have worked on.</p>
            <a href="/case-studies" class="action-link">Check out case studies</a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-sandwich.svg" alt="A sandwich with lettuce, cheese and tomatoes" class="icon icon-laptop" />
            <h4 class="service-heading">Hire us</h4>
            <p class="text-muted">You could have a project and may be looking for developers with creative problem solving skills.</p>
            <a href="/hire-us" class="action-link">Engage us for your project</a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-mortar-board.svg" alt="Continuous learning is part of our culture" class="icon icon-laptop" />
            <h4 class="service-heading">See open positions</h4>
            <p class="text-muted">There may be a chance you've already decided to join our team (yay!) and want to apply for a job.</p>
            <a href="/careers" class="action-link">Apply for a job</a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-heart.svg" alt="A medical card" class="icon icon-laptop" />
            <h4 class="service-heading">Learn about the team</h4>
            <p class="text-muted">Maybe you wanted to get a glimpse of who we are and what our team cares about.</p>
            <a href="/about" class="action-link">Get to know us better</a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="/assets/img/shared/icon-laptop.svg" alt="A laptop to work on" class="icon icon-laptop" />
            <h4 class="service-heading">Check out our blog</h4>
            <p class="text-muted">You could have also just been browsing for something to read</p>
            <a href="/blog" class="action-link">Check out some posts</a>
        </div>
    </div>
</div>
</section>
