@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat:400,700|Roboto+Slab:400,700&display=swap');

/* Variables */
$primary-font: 'Montserrat', "Helvetica Neue", 'Helvetica', 'Arial', 'sans-serif';
$secondary-font: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; 
$tertiary-font: 'Droid Serif', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

/* Base Site Styles */
body {
  overflow-x: hidden;
  font-family: $secondary-font;
  color: #10293f;
}

.text-muted {
  color: #888888;
}

.text-primary {
  color: #0081df;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #0081df;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #1d94ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $primary-font;
  font-weight: 700;
}
