/* Base Site Styles */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $main-font;
  color: $secondary-blue;
}

.text-muted {
  color: $grey;
}

.text--primary {
  color: $primary-blue;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: $primary-blue;
}

a:hover,
a:focus,
a:active {
  color: $pink400;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $main-font;
  font-weight: 700;
}

ul,
ol {
  font-size: 16px;
}

ol {
  line-height: 32px;
}
