/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic|Montserrat:400,700|Roboto+Slab:400,100,300,700&display=swap');
@import url('../font/font-awesome/css/font-awesome.min.css');

/* Variables - Font Families */
$primary-font: 'Montserrat', "Helvetica Neue", 'Helvetica', 'Arial', 'sans-serif';
$secondary-font: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; 
$tertiary-font: 'Droid Serif', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

/* Variables - Colours */
$primary-blue: #0081df; // lighter blue than RRSoft logo
$primary-blue-light: #1d94ea;
$secondary-blue: #10293f;
$grey: #888888;
$grey-light: #EFEFEF;
$grey-dark: #222222;
$off-white: #E6F2FB;
$red: #E74C3C;

/* Base Site Styles */
body {
  overflow-x: hidden;
  font-family: $secondary-font;
  color: $secondary-blue;
}

.text-muted {
  color: $grey;
}

.text-primary {
  color: $primary-blue;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: $primary-blue;
}

a:hover,
a:focus,
a:active {
  color: $primary-blue-light;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $primary-font;
  font-weight: 700;
}
