/* 
*************************************************
Navbar Styles
************************************************* 
*/

.navbar--main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &.-dark {
    background-color: $secondary-blue;
  }

  &.-light {
    background-color: $primary-blue;

    .navbar-brand img {
      height: 20px;
    }
  }
}

@media(min-width:768px) {
  .navbar--main {
    &.-dark {
      background-color: transparent;
    }

    &.-light {
      .navbar-brand img {
        height: 30px;
      }
    }
  }
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.nav--link {
  color: white;
  font-family: $main-font;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-toggler {
  background-color: $primary-blue;
}

@media(min-width:768px) {
  .navbar--main {
    background-color: transparent;
  }

  .nav--link {
    padding: 10px 15px;
  }
}


/*
*************************************************
Header Styles
*************************************************
*/
.line-breaker {
  display: inline;
}

@media(min-width:768px) {
  .line-breaker {
    display: block;
  } 
}


.header {
  position: relative;
  color: white;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.no-webp .header--home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/header-bg.jpg');
}

.webp .header--home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/header-bg.webp');
}

.header--careers-post,
.header--case-study-post,
.header--blog-post,
.header--services-post {
  background-color: $blue500;
  background-image: url($header-bg);
}

.header--404 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(132, 132, 132, 0.9) 100%), url("../img/shared/texture-dark-mosaic.png");
  
}

.header--intro-text {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: left;
}

.header--intro-lead-in {
  margin-bottom: 25px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
}

.header--intro-heading {
  margin-bottom: 25px;
  font-family: $main-font;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
}

@media(min-width:768px) {
  .header--intro-text {
      width: 60%;
      text-align: left;
  }

  .header--careers-post .header--intro-text,
  .header--case-study-post .header--intro-text,
  .header--services-post .header--intro-text {
      width: 100%;
      padding-top: 200px;
      padding-bottom: 50px;
  }

  .header--home .header--intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }

  .header--services .header--intro-text {
    width: 50%;
  }
  
  .header--404 .header--intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
  }

  .header--404 .intro-image {
    padding-top: 225px;
    padding-bottom: 150px;
    text-align: center;
  }

  .header--404 .intro-image img {
      width: 85%;
  }

  .header--intro-lead-in {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 40px;
  }

  .header--intro-heading {
      margin-bottom: 50px;
      font-size: 42px;
      font-weight: 700;
      line-height: 60px;
  }
}


/*
*************************************************
Instagram Feed Styles
*************************************************
*/

.instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.instafeed a {
  display: block;
  width: 90%;
  margin: 10px 0px;
  background-color:#ddc;
  border:solid 20px #729FB4;
  border-bottom-color:#92cce6;
  border-left-color:#7cadc3;
  border-radius: 2px;
  border-right-color:#7cadc3;
  border-top-color:#6c96a9;
  box-shadow:0 0 5px 0 rgba(0,0,0,.10) inset, 0 5px 10px 5px rgba(0,0,0,.10);
  box-sizing:border-box;
  display:inline-block;
  padding: 20px;
  position:relative;
  text-align:center;
}


.instafeed a:before {
  border-radius: 2px;
  bottom: -10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left: -10px;
  position:absolute;
  right: -10px;
  top: -10px;
}
.instafeed a:after {
  border-radius:2px;
  bottom: -10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left: -10px;
  position:absolute;
  right: -10px;
  top: -10px;
}

.instafeed a img {
  max-height:100%;
  max-width:100%;
  width: 100%;
  border: solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
}

@media(min-width:768px) {
  .instafeed a {
    width: 27%;
    margin: 1% 1%;
  } 
}

/*
*************************************************
Homepage - Services CTA - SVG Styles
*************************************************
*/
.services__icon { 
  fill: $primary-blue;
}

/*
*************************************************
Helper - Typography - Styles
*************************************************
*/
.title-case__heading {
  font-size: 2rem;
  text-transform: none;
}

@media(min-width:768px) {
  .title-case__heading {
    font-size: 3rem;
  }
}

.mb-md-2em {
  margin-bottom: 2em;
}

/*
*************************************************
Services - List - Styles
*************************************************
*/
.services__list--heading {
  font-size: 27px;
  text-transform: capitalize;
}

@media(min-width:768px) {
  .services__list--heading {
    font-size: 40px;
  }
}

/*
*************************************************
CTA Group - Links - Styles
*************************************************
*/
.cta-group-list {
  padding-left: 0;
  list-style: none;
}

.cta-group-item {
  display: inline-block;
}

.cta-group-item:first-child {
  margin-bottom: 20px;
}  

@media(min-width:768px) {
  .cta-group-item:first-child {
    margin-right: 10px;
    margin-bottom: 0;
  }  
}

.action-link {
  display: inline-block;
  margin-bottom: 50px;
}

/*
*************************************************
SERVICES PAGE
*************************************************
*/

