/* Navbar Styles */

.navbar--main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #10293f;
}

@media(min-width:768px) {
  .navbar--main {
    background-color: transparent;
  }
}
