.blog-list {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 10;
  width: 100%;
  margin-top: -40px;
  margin-bottom: 30px;

  .blogitem {
    display: flex;
    flex-direction: column-reverse;
    flex: auto;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 60%;
      padding: 20px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      background-image: linear-gradient(to top, rgba(255,255,255,1) 45%,rgba(255,255,255,0) 100%);
    }

    .heading {
      color: $blue900;
      font-family: $main-font;
      font-size: 21px;
      font-weight: 600;
      text-transform: none;
    }

    .headinglink {
      color: $blue900;
    }

    .meta {
      color: $blue500;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 600;
    }

    .date {
      color: $grey600;
    }
  }
}

@media(min-width: $width-md) {
  .blog-list {
    width: 100%;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  
    .blogitem {
      flex: auto;
      height: 250px;
      min-width: 150px;
      margin: 0 15px 20px 15px;
  
      &:nth-child(4n+1) {
        width: 300px;
      }
  
      &:nth-child(4n+2) {
        width: 210px;
      }
  
      &:nth-child(4n+3) {
        width: 210px;
      }
  
      &:nth-child(4n+4) {
        width: 300px;
      }

      .content {
        height: 60%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
    }
  }
}

@media(min-width: $width-lg) {
  .blog-list {
    max-width: 960px;
  
    .blogitem {
      margin: 0 30px 60px 30px;

      &:nth-child(4n+1) {
        width: 400px;
      }
  
      &:nth-child(4n+2) {
        width: 300px;
      }
  
      &:nth-child(4n+3) {
        width: 300px;
      }
  
      &:nth-child(4n+4) {
        width: 400px;
      }

      .content {
        height: 60%;
      }
    }
  }
}

@media(min-width: $width-xl) {
  .blog-list {
    max-width: 1140px;

    .blogitem {
      flex: auto;
      height: 345px;
      min-width: 150px;
      margin: 0 15px 30px 15px;
  
      &:nth-child(4n+1) {
        width: 520px;
      }
  
      &:nth-child(4n+2) {
        width: 420px;
      }
  
      &:nth-child(4n+3) {
        width: 420px;
      }
  
      &:nth-child(4n+4) {
        width: 520px;
      }

      .content {
        height: 60%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
