.blog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .pagenum {
    padding-left: 15px;
    padding-right: 15px;
    color: white;

    &.-link {
      color: $pink400;
      text-decoration: underline;
    }
  }
}

@media(min-width: $width-xl) {
  .blog-pagination {
    margin-bottom: 150px;
  }
}
