<!-- About Us: Photo Feed -->
<section id="photo-feed" class="origin about-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keep Up With Team Rapid River</h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius lobortis eros, luctus ultricies erat blandit sed. Suspendisse sodales nunc dui, nec pharetra risus efficitur at. Donec pharetra scelerisque eros a maximus. Donec feugiat scelerisque sem, fermentum mattis ex imperdiet at. Proin in lorem ex. Praesent sit amet magna nisi. In vulputate laoreet metus. Vestibulum in justo risus.
            </h3>
      </div>
    </div>

    <!-- Photo Wall Starts Here -->
    {% include about/about_instagram.html clientId="f0127f711f87462eb677859f090593c7" userId="3485772222" accessToken="3485772222.f0127f7.1fecc89382ea4fdbbc1c30099ad9e579" %}
    <!-- Photo Wall Ends Here -->
  </div>
</section>
