<!-- About Us: What We Do -->
<section class="what-we-do about-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
            <h2 class="section-heading">What We Do</h2>
            <h3 class="section-subheading text-muted">
              Rapid River Software is a worldwide group of full-stack developers with skills ranging from front-end to operations, automation, and everything in between. We strive to provide the best solutions for our clients and create the best environment for our people.
            </h3>
      </div>
    </div>
    <div class="row about-image">
      <div class="col-lg-12 text-center">
        <img src="/img/about/bg-intro.png" alt="Vector image of person on a laptop">
      </div>
    </div>
  </div>
</section>
