<!-- About Us: Culture -->
<section class="culture about-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
            <h2 class="section-heading">Remote-first; People-first</h2>
            <h3 class="section-subheading text-muted">
              Living a modern lifestyle isn't easy; real lives are multi-faceted and complex. At Rapid River, we have a remote-first work culture so we can put our people first.
            </h3>
      </div>
    </div>
    <div class="row about-image">
      <div class="col-lg-12 text-center">
        <img src="/img/about/bg-remote.png" alt="Vector image of person on a laptop">
      </div>
    </div>
  </div>
</section>
