<!-- About Us: Photo Feed -->
<section id="photo-feed" class="origin about-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keep Up With Team Rapid River</h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius lobortis eros, luctus ultricies erat blandit sed. Suspendisse sodales nunc dui, nec pharetra risus efficitur at. Donec pharetra scelerisque eros a maximus. Donec feugiat scelerisque sem, fermentum mattis ex imperdiet at. Proin in lorem ex. Praesent sit amet magna nisi. In vulputate laoreet metus. Vestibulum in justo risus.
            </h3>
      </div>
    </div>

    <!-- Photo Wall Starts Here -->
    <div class="row text-center photo-feed-row">
        <div class="col-md-4">
            <img src="/img/about/photo-1.jpg" alt="Vector image of person on a laptop">
        </div>
        <div class="col-md-4">
            <img src="/img/about/photo-2.jpg" alt="Vector image of person on a laptop">
        </div>
        <div class="col-md-4">
            <img src="/img/about/photo-3.jpg" alt="Vector image of person on a laptop">
        </div>
    </div>
    <br/>
    <div class="row text-center photo-feed-row">
        <div class="col-md-4">
            <img src="/img/about/photo-4.jpg" alt="Vector image of person on a laptop">
        </div>
        <div class="col-md-4">
            <img src="/img/about/photo-5.jpg" alt="Vector image of person on a laptop">
        </div>
        <div class="col-md-4">
            <img src="/img/about/photo-6.jpg" alt="Vector image of person on a laptop">
        </div>
    </div>
    <!-- Photo Wall Ends Here -->
  </div>
</section>
