<!-- About Us: Photo Feed -->
<section id="photo-feed" class="origin about-item bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col text-center">
            <h2 class="section-heading">Keep Up With Team Rapid River</h2>
            <h3 class="section-subheading text-muted">
              Of course, we're not all work and no play! The Rapid River family brings their actual families together, on special occassions, to eat and be merry. Follow our Instagram feed to get a peek into the fun that ensues.
            </h3>
      </div>
    </div>

    <!-- Photo Wall Starts Here -->
    {% include about/about_instagram.html clientId="f0127f711f87462eb677859f090593c7" userId="3485772222" accessToken="3485772222.f0127f7.1fecc89382ea4fdbbc1c30099ad9e579" %}
    <!-- Photo Wall Ends Here -->
  </div>
</section>
