<!-- About Us: Community -->
<section class="community -section">
    <div class="container">
        <h2 class="heading">Community Connection</h2>
        <h3 class="description">
            An industry is only as strong as the community around it. Rapid River is a proud tech meetup host
            and conference sponsor. We are always looking for more ways to support our community.
        </h3>
        <img class="image" src="/assets/img/about/bg-community.png" alt="" />
    </div>
</section>
