<!-- About Us: Community -->
<section class="community about-item">
  <div class="container">
    <div class="row">
      <div class="col text-center">
            <h2 class="section-heading">Community Connection</h2>
            <h3 class="section-subheading text-muted">
              An industry is only as strong as the community around it. Rapid River is a proud tech meetup host and conference sponsor. We are always looking for more ways to support our community.
            </h3>
      </div>
    </div>
    <div class="row about-image">
      <div class="col text-center">
        <img src="/assets/img/about/bg-community.png" alt="Vector image of person on a laptop">
      </div>
    </div>
  </div>
</section>
