<!-- About Us: Culture -->
<section class="culture about-item bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Remote-first; People-first</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">
                    The traditional practice of having to work from an office is
                    highly restrictive to modern lifestyles. Rapid River founders wanted to build a company with fewer
                    limitations, so they embraced the concept of remote-first, distributed teams. We are built, from the
                    ground up, without the constraints of location. This value flows through everything we do.
                </h3>
            </div>
        </div>
        <div class="row about-image">
            <div class="col text-center">
                <img src="/assets/img/about/bg-remote.png" alt="Vector image of person on a laptop">
            </div>
        </div>
    </div>
</section>
