<!-- About: Header -->
<header class="page-header">
    <div class="container d-flex">
        <div class="row">
            <div class="intro col-md-5">
                <div class="heading">Malaysia-based <span class="bold">remote-first</span> software consultancy</div>
                <div class="tagline">We build and maintain cost-effective software for clients, while cultivating a work environment that is both results-oriented and people-first.</div>
                <a href="#team" class="button -white">Meet the team</a>
            </div>
            <div class="image col-md-7 d-none d-md-block">
                <img src="/assets/img/headers/about.png" alt="Vector illustration of three team members">
            </div>
        </div>
    </div>
</header>
