<!-- About: Header -->
<header class="header header--about-us">
    <div class="container d-flex">
        <div class="header--intro-text">
            <div class="header--intro-heading">Malaysia-based remote-first software consultancy</div>
            <div class="header--intro-lead-in">We build and maintain cost-effective software for clients, while
                cultivating a work environment that is both results-oriented and people-first.</div>
            <a href="#team" class="btn btn-xl">Meet the team</a>
        </div>
        <div class="intro-image d-none d-md-block">
            <img src="/assets/img/about/team.png" alt="Vector image of person on a laptop">
        </div>
    </div>
</header>
