<!-- About Us: Photo Feed -->
<section id="photo-feed" class="origin about-item">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Keep Up With Team Rapid River</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-1">
            <div class="col-md-7 text-center">
                <h3 class="section-subheading text-muted">
                    Of course, we're not all work and no play! The Rapid River family brings their actual families
                    together, on
                    special occassions, to eat and be merry. Follow our Instagram feed to get a peek into the fun that
                    ensues.
                </h3>
            </div>
        </div>
        
        <div class="instafeed">
            <a href="https://www.instagram.com/rapidriversoftware/" class="button -blue">
                <i class="fa fa-instagram"></i>
                <span>Visit our Instagram</span>
            </a>
        </div>
    </div>
</section>
