<!-- About Us: Photo Feed -->
<section class="instagram -section">
    <div class="container">
        <h2 class="heading">Keep Up With Team Rapid River</h2>
        <h3 class="description">
            Of course, we're not all work and no play! The Rapid River family brings their actual families
            together, on
            special occassions, to eat and be merry. Follow our Instagram feed to get a peek into the fun that
            ensues.
        </h3>
        <a href="https://www.instagram.com/rapidriversoftware/" class="link button -blue">
            <i class="fa fa-instagram"></i>
            <span>Visit our Instagram</span>
        </a>
        <img class="image" src="/assets/img/about/bg-gallery.png" alt="">
    </div>
</section>
