<div id="purpose" class="purpose-component">
    <div class="container">
        <div class="purpose-list">
            <div class="purpose-header">
                <h2 class="heading">
                    Why We Exist
                </h2>
                <p class="description">
                    We started Rapid River in 2015 to find a way to offer software development at a quality on par with global centres of excellence, but at a price that was reasonable rather than astronomical.
                </p>
            </div>
            <div class="purpose-img">
                <img src="/assets/img/about/purpose.png" alt="">
            </div>
            <div class="purpose-item">
                <h4 class="title">As a Business</h4>
                <p class="description">
                    We help software companies solve their most pressing pain points, move their products forward and get things done.
                </p>
            </div>
            <div class="purpose-item">
                <h4 class="title">
                    As an Organization
                </h4>
                <p class="description">
                    We give people the space they need to be as productive as possible whilst living the life they want for themselves.
                </p>
            </div>
        </div>
    </div>
</div>
