<div id="purpose" class="purpose-component">
    <div class="container">
        <div class="purpose-list">
            <div class="purpose-header">
                <h2 class="heading">
                    Our Purpose
                </h2>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper tellus pretium pulvinar neque iaculis vulputate pulvinar vel. Tincidunt.
                </p>
            </div>
            <div class="purpose-img">
                <img src="/assets/img/about/purpose.png" alt="">
            </div>
            <div class="purpose-item">
                <h4 class="title">As a Business</h4>
                <p class="description">
                    Help software companies solve their most pressing pain points, to move their products forward and to get things done for them.
                </p>
            </div>
            <div class="purpose-item">
                <h4 class="title">
                    As a Company
                </h4>
                <p class="description">
                    Give autonomy to the individual, so that each of us can be as productive as possible whilst living the life we want for ourselves.
                </p>
            </div>
        </div>
    </div>
</div>
