<!-- About Us: Team -->
<div class="team">
    <div class="container">
        <h2 class="heading">Who We Are</h2>
        <h3 class="description">
            Our team may not always be in the same room, but we do a great job staying on the same page. Meet
            the people who make Rapid River tick.
        </h3>
        <div class="teamprofiles">
            {% for member in site.data.people %}
                <div class="profile">
                    <img src="/assets/img/team/{{ member.pic }}.jpg" class="image" alt="">
                    <h4 class="name">{{ member.name }}</h4>
                    <p class="position">{{ member.position }}</p>
                    <div class="sociallinks">
                        {% for network in member.social %}
                        <a class="link" href="{{ network.url }}">
                            <i class="fa fa-{{ network.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>
