<!-- About Us: Team -->
<div id="team" class="team">
    <div class="container">
        <div class="team-header">
            <h2 class="heading">Who We Are</h2>
            <p class="description">
                Our team may not always be in the same room, but we do a great job staying on the same page. Meet
                the people who make Rapid River tick.
            </p>
        </div>
        <div class="profile-window">
            <div class="profile-list">
                {% for member in site.data.people %}
                    <div class="profile" data-fx="profile" data-slug="{{ member.slug }}">
                        <div class="meta">
                            <div class="photo">
                                <img src="/assets/img/team/thumbnail/{{ member.slug }}.jpg" class="image" alt="">
                                <div class="fx-expand-button">
                                    Expand
                                </div>
                            </div>
                            <div class="details">
                                <h4 class="name">{{ member.name }}</h4>
                                <p class="position">{{ member.position }}</p>
                            </div>
                            <div class="sociallinks">
                                {% for network in member.social %}
                                <a class=""
                                    data-fx="social-link"
                                    href="{{ network.url }}"
                                    target="_blank"
                                    rel="noopener noreferrer">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
