<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="home" class="index">
        {% include gtm.html %}
        {% include nav_frontpage.html %}
        {% include header.html %}
        {% include services.html %}
        {% include case_studies.html %}
        {% include homepage/cta_to_about_careers.html %}
        {% include homepage/cta_to_blog.html %}
        {% include hire_cta.html %}
        {% include footer.html %}
        {% include js.html %}
        <script src="{{ "/assets/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
