<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="home" class="page">
        {% include gtm.html %}
        {% include nav_frontpage.html %}

        <div class="full-page services">
            <header class="header header--services-post">
                <div class="container post">
                    <div class="header__space-maker"></div>
                </div>
            </header>
    
            <div class="container post">
                <div class="row justify-content-center">
                    <div class="col-4 col-md-2 text-center mb-5">
                        <img src="/assets/img/services/icons/icon-{{ page.slug }}.svg" class="full-width" />
                    </div>
                    <div class="col-md-8">
                        {{ content | markdownify }}
                        <hr class="star-primary">
                    </div>
                    <div class="col-md-2">
                        <h4>Related projects</h4>
                        <ul>
                            {% for project in page.related-projects %}
                            <li>
                                <a href="/case-studies{{ project[1] }}">
                                    {{ project[0] }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <hr class="star-primary">
                </div>
                <div class="row justify-content-center">
                    <a href="/services/#{{page.slug}}" class="btn btn-primary">Go back to services</a>
                </div>
            </div>
        </div>

        {% include shared/cta_to_hire_us.html %}
        {% include footer.html %}
        {% include js.html %}
    </body>

</html>
