.button {
  display: inline-block;
  padding: 8px 10px;
  font-family: $main-font;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;

  &.-blue {
    color: white;
    background-color: $blue500;

    &:hover {
      color: white;
    }
  }

  &.-white {
    color: $blue900;
    background-color: $grey100;

    &:hover {
      color: $blue900;
    }
  }

  &.-pink {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 1px $pink600;
    background-color: $pink400;

    &:hover {
      color: white;
    }
  }
}

@media(min-width: $width-lg) {
  .button {
    &:hover {
      cursor: pointer;
    }
  }
}
