.page-header {
  position: relative;
  height: 506px;

  // Pages "other" than home page
  &.-other {
    background-color: $blue500;
    background-image: url($header-bg);

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      height: 40px;
      width: 100%;
      background-color: white;
      border-radius: 30px 30px 0px 0px;
    }
  }

  .intro {
    padding-top: 120px;
    font-family: $main-font;
    
    .heading {
      color: white;
      font-size: 34px;
      line-height: 40px;
      padding-bottom: 24px;
    }

    .bold {
      font-weight: 700;
    }

    .tagline {
      color: white;
      font-size: 19px;
      padding-bottom: 40px;
    }
  }

  .image {
    text-align: right;

    img {
      width: 80%;
    }
  }
}

@media(min-width: $width-md) {
  .page-header {
    height: 670px;

    &.-other {
      border-bottom-right-radius: 90px;

      &::after {
        display: none;
      }
    }

    .intro {
      padding-top: 195px;

      .heading {
        font-size: 42px;
        line-height: 50px;
        padding-bottom: 30px
      }

      .tagline {
        font-size: 19px;
        padding-bottom: 50px;
      }
    }

    .image {
      padding-top: 190px;
    }
  }
}

@media(min-width: $width-lg) {
  .page-header {
    height: 700px;

    .intro {
      padding-top: 180px;
    }

    .image {
      padding-top: 140px;
    }
  } 
}

@media(min-width: $width-xl) {
  .page-header {
    height: 820px;

    .intro {
      padding-top: 225px;
    }
  }
}


// TODO: Deprecate the below header styles and remove bootstrap dependency
.page-header.-home {
  position: relative;
  color: white;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.no-webp .page-header.-home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/header-bg.jpg');
}

.webp .page-header.-home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/header-bg.webp');
}

.header--careers-post,
.header--blog-post,
.header--services-post {
  background-color: $blue500;
  background-image: url($header-bg);
}

.header--404 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(132, 132, 132, 0.9) 100%), url("../img/shared/texture-dark-mosaic.png");
  
}

.header--intro-text {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: left;
}

.header--intro-lead-in {
  margin-bottom: 25px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
}

.header--intro-heading {
  margin-bottom: 25px;
  font-family: $main-font;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
}

@media(min-width:768px) {
  .header--intro-text {
      width: 60%;
      text-align: left;
  }

  .header--careers-post .header--intro-text,
  .header--services-post .header--intro-text {
      width: 100%;
      padding-top: 200px;
      padding-bottom: 50px;
  }

  .header--home .header--intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }

  .header--services .header--intro-text {
    width: 50%;
  }
  
  .header--404 .header--intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
  }

  .header--404 .intro-image {
    padding-top: 225px;
    padding-bottom: 150px;
    text-align: center;
  }

  .header--404 .intro-image img {
      width: 85%;
  }

  .header--intro-lead-in {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 40px;
  }

  .header--intro-heading {
      margin-bottom: 50px;
      font-size: 42px;
      font-weight: 700;
      line-height: 60px;
  }
}
