.active {
  position: relative;
  color: $blue900 !important;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: $primary-blue;
}

.nav--link::hover,
.nav--link::active,
.nav--link::focus {
  color: $primary-blue;
}

.link {
  &.-pink {
    color: $pink400;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
  }
}

@media(min-width:768px) {
  .active {
    color: $secondary-blue;
  }

  .active::before {
    background-color: $secondary-blue;
  }

  .nav--link::hover,
  .nav--link::active,
  .nav--link::focus {
    color: $secondary-blue;
  }

  .hireuslink .active::before {
    height: 0;
  }
}
