.active {
  position: relative;
  color: $blue900 !important;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: $blue500;
}

.navlink::hover,
.navlink::active,
.navlink::focus {
  color: $blue500;
}

.link {
  &.-pink {
    color: $pink400;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
  }
}

@media(min-width: $width-md) {
  .active {
    color: $blue900;
  }

  .active::before {
    background-color: $blue900;
  }

  .navlink::hover,
  .navlink::active,
  .navlink::focus {
    color: $blue900;
  }

  .hireuslink .active::before {
    height: 0;
  }
}
