.navbar--main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: $blue500;
}

@media(min-width: $width-md) {
  .navbar--main {
    padding-top: 50px;
    background-color: transparent;
  }
}

/* Navigation Link List */ 

.navlink-list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
  }

  li:not(:last-child) {
    margin-right: 20px;
  }
}

/* Burger Menu */
.burgericon {}

@media(min-width: $width-md) {
  .burgericon {
    display: none;
  }
}

/* Navigation Links */
.navlink {
  color: white;
  font-family: $main-font;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
